// This file is part of Notepad++ project
// Copyright (C)2003 Don HO <don.h@free.fr>
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either
// version 2 of the License, or (at your option) any later version.
//
// Note that the GPL places important restrictions on "derived works", yet
// it does not provide a detailed definition of that term.  To avoid      
// misunderstandings, we consider an application to constitute a          
// "derivative work" for the purpose of this license if it does any of the
// following:                                                             
// 1. Integrates source code from Notepad++.
// 2. Integrates/includes/aggregates Notepad++ into a proprietary executable
//    installer, such as those produced by InstallShield.
// 3. Links to a library or executes a program that does any of the above.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.


#include <windows.h>
#include "preference_rc.h"

#ifndef IDC_STATIC
#define IDC_STATIC -1
#endif

IDD_PREFERENCE_BOX DIALOGEX 0, 0, 560, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "Preferences"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LISTBOX         IDC_LIST_DLGTITLE,10,10,80,185,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Close",IDC_BUTTON_CLOSE,255,200,45,14
END

IDD_PREFERENCE_BAR_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Toolbar",IDC_TOOLBAR_GB_STATIC,57,45,147,68,BS_CENTER
    CONTROL         "Hide",IDC_CHECK_HIDE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,64,55,94,10
    CONTROL         "Small icons",IDC_RADIO_SMALLICON,"Button",BS_AUTORADIOBUTTON,64,69,114,10
    CONTROL         "Big icons",IDC_RADIO_BIGICON,"Button",BS_AUTORADIOBUTTON,64,83,109,10
    CONTROL         "Standard icons",IDC_RADIO_STANDARD,"Button",BS_AUTORADIOBUTTON,64,97,119,10
    GROUPBOX        "Tab Bar",IDC_TABBAR_GB_STATIC,223,6,176,142,BS_CENTER
    CONTROL         "Hide",IDC_CHECK_TAB_HIDE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,15,108,10
    CONTROL         "Multi-line",IDC_CHECK_TAB_MULTILINE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,29,134,10
    CONTROL         "Vertical",IDC_CHECK_TAB_VERTICAL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,43,134,10
    CONTROL         "Reduce",IDC_CHECK_REDUCE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,58,108,10
    CONTROL         "Lock (no drag and drop)",IDC_CHECK_LOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,72,134,10
    CONTROL         "Darken inactive tabs",IDC_CHECK_DRAWINACTIVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,87,134,10
    CONTROL         "Draw a coloured bar on active tab",IDC_CHECK_ORANGE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,102,137,10
    CONTROL         "Show close button on each tab",IDC_CHECK_ENABLETABCLOSE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,117,133,10
    CONTROL         "Double click to close document",IDC_CHECK_DBCLICK2CLOSE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,229,132,133,10
    CONTROL         "Show status bar",IDC_CHECK_SHOWSTATUSBAR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,223,169,130,10
    CONTROL         "Hide menu bar (use Alt or F10 key to toggle)",IDC_CHECK_HIDEMENUBAR,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,223,153,218,10
    GROUPBOX        "Localization",IDC_LOCALIZATION_GB_STATIC,57,6,147,35,BS_CENTER
    COMBOBOX        IDC_COMBO_LOCALIZATION,68,20,119,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Document List Panel",IDC_DOCSWITCH_GB_STATIC,57,121,147,40,BS_CENTER
    CONTROL         "Show",IDC_CHECK_DOCSWITCH,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,64,131,89,10
    CONTROL         "Disable extension column",IDC_CHECK_DOCSWITCH_NOEXTCOLUMN,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,64,146,124,10
END

IDD_PREFERENCE_MARGEIN_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Folder Margin Style",IDC_FMS_GB_STATIC,46,44,83,89,BS_CENTER
    CONTROL         "Simple",IDC_RADIO_SIMPLE,"Button",BS_AUTORADIOBUTTON | WS_GROUP,55,57,59,10
    CONTROL         "Arrow",IDC_RADIO_ARROW,"Button",BS_AUTORADIOBUTTON,55,71,60,10
    CONTROL         "Circle tree",IDC_RADIO_CIRCLE,"Button",BS_AUTORADIOBUTTON,55,86,62,10
    CONTROL         "None",IDC_RADIO_FOLDMARGENONE,"Button",BS_AUTORADIOBUTTON,55,115,61,10
    CONTROL         "Box tree",IDC_RADIO_BOX,"Button",BS_AUTORADIOBUTTON,55,100,61,10
    CONTROL         "Show vertical edge",IDC_CHECK_SHOWVERTICALEDGE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,153,56,122,10
    RTEXT           "Number of columns :",IDC_NBCOLONE_STATIC,148,104,83,8
    LTEXT           "0",IDC_COLONENUMBER_STATIC,238,103,18,8,WS_TABSTOP
    GROUPBOX        "Vertical Edge Settings",IDC_VES_GB_STATIC,142,44,148,77,BS_CENTER
    CONTROL         "Line mode",IDC_RADIO_LNMODE,"Button",BS_AUTORADIOBUTTON,156,72,91,10
    CONTROL         "Background mode",IDC_RADIO_BGMODE,"Button",BS_AUTORADIOBUTTON,156,86,91,10
    GROUPBOX        "Caret Settings",IDC_CARETSETTING_STATIC,46,1,199,40,BS_CENTER
    LTEXT           "Width :",IDC_WIDTH_STATIC,50,20,37,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_WIDTH_COMBO,89,18,40,30,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Blink rate :",IDC_BLINKRATE_STATIC,161,13,50,8
    CONTROL         "",IDC_CARETBLINKRATE_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,156,25,67,13
    LTEXT           "S",IDC_CARETBLINKRATE_S_STATIC,225,25,12,8
    LTEXT           "F",IDC_CARETBLINKRATE_F_STATIC,144,25,12,8,0,WS_EX_RIGHT
    GROUPBOX        "Multi-Editing Settings",IDC_MULTISELECTION_GB_STATIC,253,1,140,40,BS_CENTER
    CONTROL         "Enable (Ctrl+Mouse click/selection)",IDC_CHECK_MULTISELECTION,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,261,18,130,10
    GROUPBOX        "Line Wrap",IDC_LW_GB_STATIC,301,44,92,56,BS_CENTER
    CONTROL         "Default",IDC_RADIO_LWDEF,"Button",BS_AUTORADIOBUTTON | WS_GROUP,311,57,59,10
    CONTROL         "Aligned",IDC_RADIO_LWALIGN,"Button",BS_AUTORADIOBUTTON,311,71,60,10
    CONTROL         "Indent",IDC_RADIO_LWINDENT,"Button",BS_AUTORADIOBUTTON,311,85,62,10
    GROUPBOX        "Border Width",IDC_BORDERWIDTH_STATIC,142,122,148,30,BS_CENTER
    CONTROL         "",IDC_BORDERWIDTH_SLIDER,"msctls_trackbar32",TBS_AUTOTICKS | TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,156,135,67,13
    LTEXT           "0",IDC_BORDERWIDTHVAL_STATIC,225,135,12,8
    CONTROL         "Display line number",IDC_CHECK_LINENUMBERMARGE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,298,107,141,10
    CONTROL         "Display bookmark",IDC_CHECK_BOOKMARKMARGE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,298,120,150,10
    CONTROL         "Enable current line highlighting",IDC_CHECK_CURRENTLINEHILITE,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,298,133,129,10
    CONTROL         "Enable smooth font",IDC_CHECK_SMOOTHFONT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,298,146,129,10
    CONTROL         "Disable advanced scrolling feature\r(if you have touchpad problem)",IDC_CHECK_DISABLEADVANCEDSCROLL, "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,298,159,139,18
END

IDD_PREFERENCE_SETTING_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Enable",IDC_CHECK_ENABLEDOCSWITCHER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,45,15,69,10
    CONTROL         "Enable MRU behaviour",IDC_CHECK_STYLEMRU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,45,28,140,10
    CONTROL         "Enable",IDC_CHECK_ENABLSMARTHILITE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,45,57,142,10
    CONTROL         "Match case",IDC_CHECK_SMARTHILITECASESENSITIVE, "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,45,71,142,10
    CONTROL         "Enable Notepad++ auto-updater",IDC_CHECK_AUTOUPDATE, "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,37,100,150,10
	CONTROL         "Autodetect character encoding",IDC_CHECK_DETECTENCODING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,37,115,217,10
    CONTROL         "Auto-indent",IDC_CHECK_MAINTAININDENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,37,130,150,10
    CONTROL         "Minimize to system tray",IDC_CHECK_MIN2SYSTRAY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,37,145,150,10
    CONTROL         "Show only filename in title bar",IDC_CHECK_SHORTTITLE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,37,160,217,10
	CONTROL         "Treat backslash as escape character for SQL",IDC_CHECK_BACKSLASHISESCAPECHARACTERFORSQL, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,37,175,217,10
    CONTROL         "Enable",IDC_CHECK_CLICKABLELINK_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,267,15,140,10
    CONTROL         "No underline",IDC_CHECK_CLICKABLELINK_NOUNDERLINE,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,267,28,140,10
    CONTROL         "Enable",IDC_CHECK_FILEAUTODETECTION,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,267,57,140,10
    CONTROL         "Update silently",IDC_CHECK_UPDATESILENTLY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,267,69,140,10
    CONTROL         "Scroll to the last line after update",IDC_CHECK_UPDATEGOTOEOF,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,267,81,140,10
    CONTROL         "Enable",IDC_CHECK_ENABLTAGSMATCHHILITE,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,267,111,140,10
    CONTROL         "Highlight tag attributes",IDC_CHECK_ENABLTAGATTRHILITE,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,267,123,140,10
    CONTROL         "Highlight comment/php/asp zone",IDC_CHECK_HIGHLITENONEHTMLZONE,
                    "Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,267,136,140,10
    EDITTEXT        IDC_EDIT_SESSIONFILEEXT,381,157,34,14,ES_AUTOHSCROLL
    GROUPBOX        "Document Switcher (Ctrl+TAB)",IDC_DOCUMENTSWITCHER_STATIC,37,4,155,39,BS_CENTER
    GROUPBOX        "Smart Highlighting",IDC_SMARTHILITING_STATIC,37,47,155,39,BS_CENTER
    GROUPBOX        "Clickable Link Settings",IDC_CLICKABLELINK_STATIC,259,4,155,39,BS_CENTER
    GROUPBOX        "File Status Auto-Detection",IDC_FILEAUTODETECTION_STATIC,259,47,155,50,BS_CENTER
    GROUPBOX        "Highlight Matching Tags",IDC_TAGMATCHEDHILITE_STATIC,259,101,155,50,BS_CENTER
    RTEXT           "Session file ext.:",IDC_SESSIONFILEEXT_STATIC,271,160,108,8
END

IDD_PREFERENCE_NEWDOCSETTING_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "New Document",IDC_NEWDOCUMENT_GR_STATIC,50,8,354,161,BS_CENTER
    GROUPBOX        "Format (Line ending)",IDC_FORMAT_GB_STATIC,68,29,129,79,BS_CENTER
    CONTROL         "Windows (CRLF)",IDC_RADIO_F_WIN,"Button",BS_AUTORADIOBUTTON | WS_GROUP,75,48,100,10
    CONTROL         "UNIX (LF)",IDC_RADIO_F_UNIX,"Button",BS_AUTORADIOBUTTON,75,64,100,10
    CONTROL         "Classic Mac (CR)",IDC_RADIO_F_MAC,"Button",BS_AUTORADIOBUTTON,75,81,100,10
    GROUPBOX        "Encoding",IDC_ENCODING_STATIC,212,28,175,122,BS_CENTER
    CONTROL         "ANSI",IDC_RADIO_ANSI,"Button",BS_AUTORADIOBUTTON | WS_GROUP,222,39,80,10
    CONTROL         "UTF-8",IDC_RADIO_UTF8SANSBOM,"Button",BS_AUTORADIOBUTTON,222,53,128,10
    CONTROL         "Apply to opened ANSI files",IDC_CHECK_OPENANSIASUTF8,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,232,65,124,10
    CONTROL         "UTF-8 with BOM",IDC_RADIO_UTF8,"Button",BS_AUTORADIOBUTTON,222,79,62,10
    CONTROL         "UCS-2 Big Endian with BOM",IDC_RADIO_UCS2BIG,"Button",BS_AUTORADIOBUTTON,222,95,110,10
    CONTROL         "UCS-2 Little Endian with BOM",IDC_RADIO_UCS2SMALL,"Button",BS_AUTORADIOBUTTON,222,111,110,10
    CONTROL         "",IDC_RADIO_OTHERCP,"Button",BS_AUTORADIOBUTTON,222,126,10,10
    COMBOBOX        IDC_COMBO_OTHERCP,236,126,100,140,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Default language :",IDC_DEFAULTLANG_STATIC,57,130,77,8
    COMBOBOX        IDC_COMBO_DEFAULTLANG,139,128,60,140,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PREFERENCE_DEFAULTDIRECTORY_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Default Directory (Open/Save)",IDC_OPENSAVEDIR_GR_STATIC,110,29,232,101,BS_CENTER
    CONTROL         "Follow current document",IDC_OPENSAVEDIR_FOLLOWCURRENT_RADIO,
                    "Button",BS_AUTORADIOBUTTON | WS_GROUP,118,60,200,10
    CONTROL         "Remember last used directory",IDC_OPENSAVEDIR_REMEMBERLAST_RADIO,
                    "Button",BS_AUTORADIOBUTTON,118,75,217,10
    CONTROL         "",IDC_OPENSAVEDIR_ALWAYSON_RADIO,"Button",BS_AUTORADIOBUTTON,118,89,11,10
    EDITTEXT        IDC_OPENSAVEDIR_ALWAYSON_EDIT,134,88,179,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDD_OPENSAVEDIR_ALWAYSON_BROWSE_BUTTON,320,87,16,14
END

IDD_PREFERENCE_RECENTFILESHISTORY_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Recent Files History",IDC_HISTORY_GB_STATIC,104,25,260,126,BS_CENTER
    RTEXT           "Max. number of entries :",IDC_MAXNBFILE_STATIC,108,52,112,8
    LTEXT           "0",IDC_MAXNBFILEVAL_STATIC,229,52,15,8,WS_TABSTOP
    CONTROL         "Don't check at launch time",IDC_CHECK_DONTCHECKHISTORY,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,121,39,140,10
    GROUPBOX        "Display",IDC_DISPLAY_STATIC,121,65,225,73,BS_CENTER
    CONTROL         "In Submenu",IDC_CHECK_INSUBMENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,132,76,79,10
    CONTROL         "Only File Name",IDC_RADIO_ONLYFILENAME,"Button",BS_AUTORADIOBUTTON | WS_GROUP,133,92,88,10
    CONTROL         "Full File Name Path",IDC_RADIO_FULLFILENAMEPATH,"Button",BS_AUTORADIOBUTTON,133,106,109,10
    CONTROL         "Customize Maximum Length:",IDC_RADIO_CUSTOMIZELENTH,
                    "Button",BS_AUTORADIOBUTTON,133,120,114,10
    LTEXT           "0",IDC_CUSTOMIZELENGTHVAL_STATIC,251,120,18,8,WS_TABSTOP
END

IDD_PREFERENCE_LANG_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Language Menu",IDC_CHECK_LANGMENU_GR_STATIC,111,3,220,172,BS_CENTER
    CONTROL         "Make language menu compact",IDC_CHECK_LANGMENUCOMPACT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,125,14,174,10
    CTEXT           "Available items",IDC_ENABLEDITEMS_STATIC,129,31,72,8
    LISTBOX         IDC_LIST_ENABLEDLANG,124,44,78,120,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "->",IDC_BUTTON_REMOVE,209,76,25,14
    PUSHBUTTON      "<-",IDC_BUTTON_RESTORE,209,107,25,14
    CTEXT           "Disabled items",IDC_DISABLEDITEMS_STATIC,244,31,72,8
    LISTBOX         IDC_LIST_DISABLEDLANG,241,44,78,120,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END

IDD_PREFERENCE_TABSETTINGS_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Tab Settings",IDC_TABSETTING_GB_STATIC,156,3,130,172,BS_CENTER
    LISTBOX         IDC_LIST_TABSETTNG,178,18,84,100,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "",IDC_GR_TABVALUE_STATIC,168,125,110,42,BS_CENTER
    CONTROL         "Use default value",IDC_CHECK_DEFAULTTABVALUE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,164,125,85,10
    RTEXT           "Tab size : ",IDC_TABSIZE_STATIC,169,138,58,8
    LTEXT           "0",IDC_TABSIZEVAL_STATIC,229,138,18,8,WS_TABSTOP
    LTEXT           "0",IDC_TABSIZEVAL_DISABLE_STATIC,229,138,18,8
    CONTROL         "Replace by space",IDC_CHECK_REPLACEBYSPACE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,176,149,100,10
END

IDD_PREFERENCE_PRINT_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "WYSIWYG",IDC_RADIO_WYSIWYG,"Button",BS_AUTORADIOBUTTON,12,30,123,10
    CONTROL         "Invert",IDC_RADIO_INVERT,"Button",BS_AUTORADIOBUTTON,12,45,90,10
    CONTROL         "Black on white",IDC_RADIO_BW,"Button",BS_AUTORADIOBUTTON,12,60,90,10
    CONTROL         "No background colour",IDC_RADIO_NOBG,"Button",BS_AUTORADIOBUTTON,12,76,123,10
    GROUPBOX        "Colour Options",IDC_COLOUROPT_STATIC,6,20,133,73,BS_CENTER
    CONTROL         "Print line number",IDC_CHECK_PRINTLINENUM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,8,6,145,10
    EDITTEXT        IDC_EDIT_ML,42,136,17,14,ES_NUMBER
    EDITTEXT        IDC_EDIT_MT,59,120,17,14,ES_NUMBER
    EDITTEXT        IDC_EDIT_MR,77,136,17,14,ES_NUMBER
    EDITTEXT        IDC_EDIT_MB,59,152,17,14,ES_NUMBER
    RTEXT           "Left",IDC_ML_STATIC,9,139,30,8
    CTEXT           "Top",IDC_MT_STATIC,41,110,54,8
    LTEXT           "Right",IDC_MR_STATIC,99,139,29,8
    CTEXT           "Bottom",IDC_MB_STATIC,41,167,54,8
    GROUPBOX        "Margin Setting (Unit:mm)",IDC_MARGESETTINGS_STATIC,5,98,133,82,BS_CENTER
    EDITTEXT        IDC_EDIT_HLEFT,166,58,83,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_HMIDDLE,256,58,83,14,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_HRIGHT,346,58,83,14,ES_RIGHT | ES_AUTOHSCROLL
    COMBOBOX        IDC_COMBO_HFONTNAME,166,76,84,104,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_HFONTSIZE,256,76,31,72,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Bold",IDC_CHECK_HBOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,296,76,46,10
    CONTROL         "Italic",IDC_CHECK_HITALIC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,356,76,43,10
    GROUPBOX        "Header",IDC_HGB_STATIC,158,39,279,56,BS_CENTER
    CTEXT           "Left part",IDC_HL_STATIC,168,49,79,8
    CTEXT           "Middle part",IDC_HM_STATIC,260,49,75,8
    CTEXT           "Right part",IDC_HR_STATIC,348,49,78,8
    EDITTEXT        IDC_EDIT_FLEFT,166,116,83,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_FMIDDLE,257,116,83,14,ES_CENTER | ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_FRIGHT,346,116,83,14,ES_RIGHT | ES_AUTOHSCROLL
    COMBOBOX        IDC_COMBO_FFONTNAME,166,134,84,119,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO_FFONTSIZE,258,134,31,71,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Bold",IDC_CHECK_FBOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,297,136,46,10
    CONTROL         "Italic",IDC_CHECK_FITALIC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,356,136,47,10
    GROUPBOX        "Footer",IDC_FGB_STATIC,158,97,279,58,BS_CENTER
    CTEXT           "Left part",IDC_FL_STATIC,168,107,78,8
    CTEXT           "Middle part",IDC_FM_STATIC,257,107,82,8
    CTEXT           "Right part",IDC_FR_STATIC,348,107,79,8
    COMBOBOX        IDC_COMBO_VARLIST,259,24,70,58,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Add",IDC_BUTTON_ADDVAR,337,24,44,12
    RTEXT           "Variable :",IDC_VAR_STATIC,198,26,59,8
    RTEXT           "Here display your variable settings",IDC_WHICHPART_STATIC,155,161,160,8
    LTEXT           "",IDC_VIEWPANEL_STATIC,242,161,190,8
    GROUPBOX        "Header and Footer",IDC_HEADERFPPTER_GR_STATIC,150,7,296,172,BS_CENTER
END
 
IDD_PREFERENCE_BACKUP_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Session snapshot and periodic backup",IDC_BACKUPDIR_RESTORESESSION_GRP_STATIC,79,1,289,75,BS_CENTER
    CONTROL         "Remember current session for next launch",IDC_CHECK_REMEMBERSESSION,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,90,10,270,10
    CONTROL         "Enable session snapshot and periodic backup",IDC_BACKUPDIR_RESTORESESSION_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,90,25,270,10
    EDITTEXT        IDC_BACKUPDIR_RESTORESESSION_EDIT,164,40,21,14,ES_NUMBER
    RTEXT           "Backup in every",IDD_BACKUPDIR_RESTORESESSION_STATIC1,82,42,78,8
    LTEXT           "seconds",IDD_BACKUPDIR_RESTORESESSION_STATIC2,190,42,66,8
    GROUPBOX        "Backup on save",IDC_BACKUPDIR_GRP_STATIC,79,81,289,101,BS_CENTER
    CONTROL         "None",IDC_RADIO_BKNONE,"Button",BS_AUTORADIOBUTTON | WS_GROUP,104,90,87,10
    CONTROL         "Simple backup",IDC_RADIO_BKSIMPLE,"Button",BS_AUTORADIOBUTTON,104,104,111,10
    CONTROL         "Verbose backup",IDC_RADIO_BKVERBOSE,"Button",BS_AUTORADIOBUTTON,104,117,111,10
    GROUPBOX        "Custom Backup Directory",IDC_BACKUPDIR_USERCUSTOMDIR_GRPSTATIC,95,135,260,40
    CONTROL         "",IDC_BACKUPDIR_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,91,135,8,10
    RTEXT           "Directory :",IDD_BACKUPDIR_STATIC,99,152,40,8
    EDITTEXT        IDC_BACKUPDIR_EDIT,146,150,179,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDD_BACKUPDIR_BROWSE_BUTTON,332,150,16,14
    RTEXT           "Backup path:",IDD_BACKUPDIR_RESTORESESSION_PATHLABEL_STATIC,85,60,61,8
    EDITTEXT        IDD_BACKUPDIR_RESTORESESSION_PATH_EDIT,153,58,208,14,ES_AUTOHSCROLL | ES_READONLY
END

IDD_PREFERENCE_AUTOCOMPLETION_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Auto-Completion",IDD_AUTOC_GRPSTATIC,86,4,289,84,BS_CENTER
    CONTROL         "Enable auto-completion on each input",IDD_AUTOC_ENABLECHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,91,15,150,10
    CONTROL         "Function completion",IDD_AUTOC_FUNCRADIO,"Button",BS_AUTORADIOBUTTON | WS_GROUP,118,27,145,10
    CONTROL         "Word completion",IDD_AUTOC_WORDRADIO,"Button",BS_AUTORADIOBUTTON,118,41,145,10
    CONTROL         "Function and word completion",IDD_AUTOC_BOTHRADIO,"Button",BS_AUTORADIOBUTTON,118,55,145,10
    RTEXT           "From",IDD_AUTOC_STATIC_FROM,248,15,47,8
    CTEXT           "1",IDD_AUTOC_STATIC_N,299,15,8,8,WS_TABSTOP
    LTEXT           "th character",IDD_AUTOC_STATIC_CHAR,313,15,57,8
    LTEXT           "Valid value : 1 - 9",IDD_AUTOC_STATIC_NOTE,278,25,93,8
    CONTROL         "Function parameters hint on input",IDD_FUNC_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,91,72,160,10
    GROUPBOX        "Auto-Insert",IDD_AUTOCINSERT_GRPSTATIC,86,94,289,84,BS_CENTER
    CONTROL         " (",IDD_AUTOCPARENTHESES_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,101,115,24,10
    CONTROL         " [",IDD_AUTOCBRACKET_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,101,133,24,10
    CONTROL         " {",IDD_AUTOCCURLYBRACKET_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,101,152,24,10
    CONTROL         " """,IDD_AUTOC_DOUBLEQUOTESCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,145,116,24,10
    CONTROL         " '",IDD_AUTOC_QUOTESCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,145,133,24,10
    CONTROL         " html/xml close tag",IDD_AUTOCTAG_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,146,152,76,10
    RTEXT           "Open",IDC_MACHEDPAIROPEN_STATIC,307,103,25,8
    LTEXT           "Close",IDC_MACHEDPAIRCLOSE_STATIC,345,103,25,8
    RTEXT           "Matched pair 1:",IDC_MACHEDPAIR_STATIC1,248,117,70,8
    EDITTEXT        IDC_MACHEDPAIROPEN_EDIT1,320,115,14,14
    EDITTEXT        IDC_MACHEDPAIRCLOSE_EDIT1,348,115,14,14
    RTEXT           "Matched pair 2:",IDC_MACHEDPAIR_STATIC2,248,137,70,8
    EDITTEXT        IDC_MACHEDPAIROPEN_EDIT2,320,135,14,14
    EDITTEXT        IDC_MACHEDPAIRCLOSE_EDIT2,348,135,14,14
    RTEXT           "Matched pair 3:",IDC_MACHEDPAIR_STATIC3,248,157,70,8
    EDITTEXT        IDC_MACHEDPAIROPEN_EDIT3,320,155,14,14
    EDITTEXT        IDC_MACHEDPAIRCLOSE_EDIT3,348,155,14,14
END

IDD_PREFERENCE_MULTIINSTANCE_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Multi-instance settings",IDC_MULTIINST_GB_STATIC,89,44,268,98,BS_CENTER
    CONTROL         "Open session in a new instance of Notepad++",IDC_SESSIONININST_RADIO,
                    "Button",BS_AUTORADIOBUTTON,122,61,226,10
    CONTROL         "Always in multi-instance mode",IDC_MULTIINST_RADIO,
                    "Button",BS_AUTORADIOBUTTON,122,80,218,10
    CONTROL         "Default (mono-instance)",IDC_MONOINST_RADIO,"Button",BS_AUTORADIOBUTTON,122,99,196,10
    LTEXT           "* The modification of this setting needs to restart Notepad++",IDD_STATIC_RESTARTNOTE,110,124,239,8
END

IDD_PREFERENCE_DELIMITERSETTINGS_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Delimiter selection settings (Ctrl + Mouse double click)",IDC_DELIMITERSETTINGS_GB_STATIC,89,44,268,89,BS_CENTER
    RTEXT           "Open",IDD_STATIC_OPENDELIMITER,117,67,34,8
    EDITTEXT        IDC_EDIT_OPENDELIMITER,156,65,14,14
    LTEXT           "bla bla bla bla bla bla",IDD_STATIC_BLABLA,172,67,56,8
    LTEXT           "bla bla bla bla bla bla bla bla bla bla bla bla",IDD_STATIC_BLABLA2NDLINE,132,87,126,8
    EDITTEXT        IDC_EDIT_CLOSEDELIMITER,237,65,14,14
    LTEXT           "Close",IDD_STATIC_CLOSEDELIMITER,252,67,47,8
    CONTROL         "Allow on several lines",IDD_SEVERALLINEMODEON_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,118,109,160,10
END

IDD_PREFERENCE_SETTINGSONCLOUD_BOX DIALOGEX 0, 0, 455, 185
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Settings on cloud",IDC_SETTINGSONCLOUD_GB_STATIC,89,44,268,89,BS_CENTER
    CONTROL         "No Cloud",IDC_NOCLOUD_RADIO,"Button",BS_AUTORADIOBUTTON,125,57,92,10
    CONTROL         "Set your cloud location path here:",IDC_WITHCLOUD_RADIO,"Button",BS_AUTORADIOBUTTON,125,72,180,10
	EDITTEXT        IDC_CLOUDPATH_EDIT,134,88,179,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDD_CLOUDPATH_BROWSE_BUTTON,320,87,16,14
    LTEXT           "",IDC_SETTINGSONCLOUD_WARNING_STATIC,131,117,135,8
END

