#-------------------------------------------------------------------------------
# VisualStudio

#-- User-specific files
*.suo
*.user
*.sln.docstates

#-- Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
#[Bb]in/
[Oo]bj/
*.pdb

#-- Visual C++ cache files
.vs/
.vscode/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

#-- Backup & report files from converting an old project file to a newer
#   Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

#-- Others
*_i.c
*_p.c
*.ilk
*.meta
*.exe
*.obj
*.pch
#*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
.builds
*.pidb
*.vcxproj.filters
*.bak

PowerEditor/bin/notepad++.exe
PowerEditor/bin/Notepad++.exp
PowerEditor/bin/Notepad++.lib
PowerEditor/bin/NppShell.x86.dll
PowerEditor/bin/config.xml
PowerEditor/bin/stylers.xml
PowerEditor/bin/langs.xml
PowerEditor/bin/config.model.xml
PowerEditor/bin/stylers.model.xml
PowerEditor/bin/langs.model.xml
PowerEditor/bin/contextMenu.xml
PowerEditor/bin/nativeLang.xml
PowerEditor/bin/session.xml
PowerEditor/bin/functionList.xml
PowerEditor/bin/shortcuts.xml
PowerEditor/bin/backup/
PowerEditor/bin/localization/
PowerEditor/bin/plugins/
PowerEditor/bin/updater/
PowerEditor/bin/functionList/
PowerEditor/bin64/
PowerEditor/binarm64/
PowerEditor/bin/themes/
PowerEditor/installer/bin/wingup/
PowerEditor/installer/build/
PowerEditor/installer/minimalist/
PowerEditor/installer/minimalist64/
PowerEditor/installer/minimalistArm64/
PowerEditor/installer/zipped.package.release/
PowerEditor/installer/zipped.package.release64/
PowerEditor/installer/zipped.package.releaseArm64/
PowerEditor/visual.net/Unicode Debug/
PowerEditor/visual.net/Unicode Release/
PowerEditor/visual.net/Debug/
PowerEditor/visual.net/Release/
PowerEditor/visual.net/notepadPlus.sln
PowerEditor/visual.net/notepadPlus.vcxproj.filters
PowerEditor/visual.net/x64/Unicode Debug/
PowerEditor/visual.net/x64/Unicode Release/
PowerEditor/visual.net/x64/Debug/
PowerEditor/visual.net/x64/Release/
PowerEditor/visual.net/ARM64
PowerEditor/src/tools/NppShell/build_ARM64
PowerEditor/src/tools/NppShell/build_Win32
PowerEditor/src/tools/NppShell/build_x64
PowerEditor/src/NppLibsVersion.h

# scintilla - generated files
scintilla/bin/SciLexer.*
scintilla/bin/Scintilla.*
scintilla/bin/libscintilla.lib
scintilla/win32/*.lib
scintilla/win32/ScintRes.res
scintilla/win32/ARM64
scintilla/win32/Unicode Release/
scintilla/win32/Unicode Debug/
scintilla/win32/Release/
scintilla/win32/Debug/
scintilla/boostregex/bin
scintilla/boostregex/boostpath.mak

#-------------------------------------------------------------------------------
# Windows

#-- image file cache
Thumbs.db

#-- Folder config file
Desktop.ini
folder-*.ico

#-- Recycle Bin used on file shares
$RECYCLE.BIN/


#-------------------------------------------------------------------------------
# Mac

*~
*.lock
*.DS_Store
*.swp
*.out
scintilla/.hgeol
scintilla/.hgtags
scintilla/cppcheck.suppress
scintilla/.hg_archival.txt
scintilla/.hgignore
scintilla/bin/__init__.py
PowerEditor/bin/NppShell64_06.dll
PowerEditor/bin/NppShell_06.dll

PowerEditor/bin/SourceCodePro-Bold.ttf
PowerEditor/bin/SourceCodePro-BoldIt.ttf
PowerEditor/bin/SourceCodePro-It.ttf
PowerEditor/bin/SourceCodePro-Regular.ttf
*.zip

#-------------------------------------------------------------------------------
# MinGW-w64 GCC

bin.*
scintilla/win32/*.o


PowerEditor/src/MISC/md5/RCa06792
*.db
*.sln
*.opendb