#include "resource.h"
#include "winresrc.h"
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x3L
#else
 FILEFLAGS 0x2L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
#ifdef WIN64
            VALUE "FileDescription", "ShellHandler for Notepad++ (64 bit)"
#else
            VALUE "FileDescription", "ShellHandler for Notepad++"
#endif
            VALUE "FileVersion", "0.1"
            VALUE "LegalCopyright", "Copyright © 2010"
#ifdef WIN64
            VALUE "OriginalFilename", "NppShell64.dll"
#else
            VALUE "OriginalFilename", "NppShell.dll"
#endif
            VALUE "ProductVersion", "0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

//IDI_ICON_NPP          ICON                    "icon\\npp_1.ico"
IDI_ICON_NPP          ICON                    "icon\\nppNewIcon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG_SETTINGS DIALOGEX 0, 0, 286, 149
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppShell Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Context Menu",IDC_STATIC,6,6,132,114
    CONTROL         "Add context menu item",IDC_CHECK_USECONTEXT,"Button",BS_AUTO3STATE | WS_TABSTOP,18,24,90,10
    CONTROL         "Show icon",IDC_CHECK_CONTEXTICON,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,42,48,10
    LTEXT           "Menu text",IDC_STATIC,18,54,34,8
    EDITTEXT        IDC_EDIT_MENU,24,66,102,14,ES_AUTOHSCROLL
    LTEXT           "Command line params",IDC_STATIC,18,84,70,8
    EDITTEXT        IDC_EDIT_COMMAND,24,96,102,14,ES_AUTOHSCROLL
    GROUPBOX        "Dynamic Icon",IDC_STATIC,144,6,132,114
    CONTROL         "Show dynamic icon",IDC_CHECK_USEICON,"Button",BS_AUTO3STATE | WS_TABSTOP,156,24,76,10
    CONTROL         "Show extension",IDC_CHECK_ISDYNAMIC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,156,42,67,10
    DEFPUSHBUTTON   "OK",IDOK,222,126,50,14
END
