<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

	<Package	Name="Notepad++"
				Manufacturer="Notepad++ team"
				Version="8.9.1"
				UpgradeCode="{CDB13460-04DF-4708-A7FD-4CB4A0684605}">

		<Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

		<!--
		Icon for "Add/Remove Programs"
		-->
		<Icon Id="Icon.ico" SourceFile="..\images\npp_inst.ico"/>
		<Property Id="ARPPRODUCTICON" Value="Icon.ico" />
		
		<!--
		No reboot after the installation by default
		-->
		<Property Id="REBOOT" Value="Suppress" />

		<!--
		Installation directory structure
		-->
		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="INSTALLFOLDER" Name="Notepad++">
				<Directory Id="ContextMenuFolder" Name="contextMenu" />
				<Directory Id="UpdaterFolder" Name="updater" />
				<Directory Id="AutoCompletionFolder" Name="autoCompletion" />

				<Directory Id="PluginsFolder" Name="plugins" >
					<Directory Id="PluginConfFolder" Name="config" />
					<Directory Id="PluginMimeToolsFolder" Name="mimeTools" />
					<Directory Id="PluginNppConverterFolder" Name="NppConverter" />
					<Directory Id="PluginNppExportFolder" Name="NppExport" />
				</Directory>

				<Directory Id="FunctionListFolder" Name="functionList" />
				<Directory Id="ThemesFolder" Name="themes" />
				<Directory Id="LocalizationFolder" Name="localization" />
			</Directory>
		</StandardDirectory>

		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="Notepad++" />
		</StandardDirectory>

	
		<!--
		Shortcut on Desktop
		-->
		<ComponentGroup Id="ShortcutComponentGroup" Directory="ApplicationProgramsFolder">
			<Component Id="cmp_NppShortcut" Guid="{9DF5F816-BF4F-496B-9095-E1E8C01B89CE}"> 
			<Shortcut	Id="startmenuShortcut"
						Name="Notepad++"
						Target="[INSTALLFOLDER]notepad++.exe"
						WorkingDirectory="INSTALLFOLDER" />

			<RegistryValue Root="HKCU" Key="Software\Notepad++" Name="StartMenuShortcut" Type="integer" Value="1"  KeyPath="yes"/>
			<RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
			</Component>
		</ComponentGroup>

		<!--
		Context Menu
		-->
		<ComponentGroup Id="ContextMenuComponentGroup" Directory="ContextMenuFolder">
			<Component Id="cmp_NppShellDll" Guid="{D6083500-DFD2-445D-B4FF-49EDF80A6A84}">
				<File Source="..\..\bin64\NppShell.x64.dll" Name="NppShell.dll" KeyPath="yes" />
			</Component>
			<Component Id="cmp_NppShellMsix" Guid="{EB6E5606-60D1-4C69-8C9B-C0B12A19C6CE}">
				<File Source="..\..\bin64\NppShell.msix" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	

		<CustomAction	Id="RegisterNppShell" 
						Directory="System64Folder" 
						ExeCommand='"[System64Folder]regsvr32.exe" /s "[ContextMenuFolder]NppShell.dll"'
						Execute="deferred"
						Impersonate="no"
						Return="check" />

		<CustomAction	Id="UnregisterNppShell" 
						Directory="System64Folder" 
						ExeCommand='"[System64Folder]regsvr32.exe" /s /u "[ContextMenuFolder]NppShell.dll"'
						Execute="deferred"
						Impersonate="no"
						Return="ignore" />

		<InstallExecuteSequence>
			<Custom Action="RegisterNppShell" After="InstallFiles" Condition="NOT Installed" />
			<Custom Action="UnregisterNppShell" Before="RemoveFiles" Condition="REMOVE~=&quot;ALL&quot;"/>
		</InstallExecuteSequence>



		<Feature Id="MainApplication" Title="Notepad++ Files" Level="1">
			<ComponentGroupRef Id="CoreComponentGroup" />

			<ComponentGroupRef Id="ShortcutComponentGroup" />
			<ComponentGroupRef Id="ContextMenuComponentGroup" />

			<Feature Id="AutoUpdaterFeature" Title="Auto Updater" Level="1">
				<ComponentGroupRef Id="AutoUpdatorComponentGroup" />
				<Level Value="0" Condition="NOUPDATER" />
			</Feature>

			<ComponentGroupRef Id="PluginAdminComponentGroup" />
			<ComponentGroupRef Id="PluginMimeToolsComponentGroup" />
			<ComponentGroupRef Id="PluginNppConverterComponentGroup" />
			<ComponentGroupRef Id="PluginNppExportComponentGroup" />

			<ComponentGroupRef Id="AutoCompletionComponentGroup" />
			<ComponentGroupRef Id="FunctionListComponentGroup" />
			<ComponentGroupRef Id="ThemesComponentGroup" />
			<ComponentGroupRef Id="LocalizationComponentGroup" />
		</Feature>

	</Package>
</Wix>
