// This file is part of Notepad++ project
// Copyright (C)2021 Don HO <don.h@free.fr>

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// at your option any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.


#include <windows.h>
#include "ShortcutMapper_rc.h"

#ifndef IDC_STATIC
#define IDC_STATIC	-1
#endif

IDD_SHORTCUTMAPPER_DLG DIALOGEX 0, 0, 450, 355
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU | WS_MAXIMIZEBOX | WS_THICKFRAME
CAPTION "Shortcut mapper"
FONT 8, TEXT("MS Shell Dlg"), 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_BABYGRID_TABBAR,"SysTabControl32",WS_TABSTOP,4,6,384,12
    EDITTEXT        IDC_BABYGRID_INFO,3,281,443,29,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | NOT WS_TABSTOP
    RTEXT           "Filter :", IDC_BABYGRID_STATIC,4,313,25,12
    EDITTEXT        IDC_BABYGRID_FILTER,31,312,415,12,ES_AUTOHSCROLL | ES_WANTRETURN
    PUSHBUTTON      "Modify",IDM_BABYGRID_MODIFY,118,330,47,14
    PUSHBUTTON      "Clear",IDM_BABYGRID_CLEAR,172,330,47,14
    PUSHBUTTON      "Delete",IDM_BABYGRID_DELETE,226,330,47,14
    DEFPUSHBUTTON   "Close",IDOK,280,330,47,14
END
