/*
this file is part of notepad++
Copyright (C)2003 Don HO ( donho@altern.org )

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either
version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.    See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
*/

#include <windows.h>
#include "resource.h"
#include "menuCmdID.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VERSION_DIGITALVALUE
PRODUCTVERSION    VERSION_DIGITALVALUE
FILEFLAGSMASK    0x3fL
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK    "VarFileInfo"
    BEGIN
        VALUE    "Translation",    0x409,    1200
    END
    BLOCK    "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE    "CompanyName",    "Don HO don.h@free.fr\0"
            VALUE    "FileDescription",    "Notepad++ : a free (GNU) source code editor\0"
            VALUE    "FileVersion",    VERSION_VALUE
            VALUE    "InternalName",    "npp.exe\0"
            VALUE    "LegalCopyright",    "Copyleft 1998-2006 by Don HO\0"
            VALUE    "OriginalFilename",    "Notepad++.exe\0"
            VALUE    "ProductName",    "Notepad++\0"
            VALUE    "ProductVersion",    VERSION_VALUE
        END
    END
END

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_M30ICON             ICON                    "icons\\npp.ico"
IDI_NEW_OFF_ICON        ICON                    "icons\\new_off.ico"
IDI_OPEN_OFF_ICON         ICON                    "icons\\open_off.ico"
IDI_SAVE_OFF_ICON         ICON                    "icons\\save_off.ico"
IDI_SAVEALL_OFF_ICON    ICON                    "icons\\saveall_off.ico"
IDI_CLOSE_OFF_ICON        ICON                    "icons\\supp_off.ico"
IDI_CLOSEALL_OFF_ICON     ICON                    "icons\\suppall_off.ico"
IDI_CUT_OFF_ICON        ICON                    "icons\\cut_off.ico"
IDI_COPY_OFF_ICON         ICON                    "icons\\dupli_off.ico"
IDI_PASTE_OFF_ICON        ICON                    "icons\\paste_off.ico"
IDI_UNDO_OFF_ICON         ICON                    "icons\\undo_off.ico"
IDI_REDO_OFF_ICON         ICON                    "icons\\redo_off.ico"
IDI_FIND_OFF_ICON         ICON                    "icons\\find_off.ico"
IDI_REPLACE_OFF_ICON    ICON                    "icons\\findrep_off.ico"
IDI_ZOOMIN_OFF_ICON        ICON                    "icons\\zoomIn_off.ico"
IDI_ZOOMOUT_OFF_ICON        ICON                    "icons\\zoomOut_off.ico"
IDI_VIEW_UD_DLG_OFF_ICON     ICON             "icons\\userDefineDlg_off.ico"
IDI_VIEW_ALL_CHAR_OFF_ICON    ICON            "icons\\allChars_off.ico"
IDI_VIEW_INDENT_OFF_ICON     ICON            "icons\\indentGuide_off.ico"
IDI_VIEW_WRAP_OFF_ICON    ICON            "icons\\wrap_off.ico"
IDI_PRINT_OFF_ICON        ICON                    "icons\\imprim_off.ico"

IDI_NEW_ON_ICON         ICON                    "icons\\new_on.ico"
IDI_OPEN_ON_ICON        ICON                    "icons\\open_on.ico"
IDI_SAVE_ON_ICON        ICON                    "icons\\save_on.ico"
IDI_SAVEALL_ON_ICON     ICON                    "icons\\saveall_on.ico"
IDI_CLOSE_ON_ICON         ICON                    "icons\\supp_on.ico"
IDI_CLOSEALL_ON_ICON    ICON                    "icons\\suppall_on.ico"
IDI_CUT_ON_ICON         ICON                    "icons\\cut_on.ico"
IDI_COPY_ON_ICON        ICON                    "icons\\dupli_on.ico"
IDI_PASTE_ON_ICON         ICON                    "icons\\paste_on.ico"
IDI_UNDO_ON_ICON        ICON                    "icons\\undo_on.ico"
IDI_REDO_ON_ICON        ICON                    "icons\\redo_on.ico"
IDI_FIND_ON_ICON        ICON                    "icons\\find_on.ico"
IDI_REPLACE_ON_ICON     ICON                    "icons\\findrep_on.ico"
IDI_ZOOMIN_ON_ICON        ICON                    "icons\\zoomIn_on.ico"
IDI_ZOOMOUT_ON_ICON        ICON                    "icons\\zoomOut_on.ico"
IDI_VIEW_UD_DLG_ON_ICON     ICON             "icons\\userDefineDlg_on.ico"
IDI_VIEW_ALL_CHAR_ON_ICON    ICON            "icons\\allChars_on.ico"
IDI_VIEW_INDENT_ON_ICON     ICON            "icons\\indentGuide_on.ico"
IDI_VIEW_WRAP_ON_ICON    ICON            "icons\\wrap_on.ico"
IDI_PRINT_ON_ICON         ICON                    "icons\\imprim_on.ico"

IDI_SAVE_DISABLE_ICON        ICON                    "icons\\save_dis.ico"
IDI_SAVEALL_DISABLE_ICON     ICON                    "icons\\saveall_dis.ico"
IDI_CUT_DISABLE_ICON         ICON                    "icons\\cut_dis.ico"
IDI_COPY_DISABLE_ICON        ICON                    "icons\\dupli_dis.ico"
IDI_PASTE_DISABLE_ICON         ICON                    "icons\\paste_dis.ico"
IDI_UNDO_DISABLE_ICON        ICON                    "icons\\undo_dis.ico"
IDI_REDO_DISABLE_ICON        ICON                    "icons\\redo_dis.ico"
//
IDI_SAVED_ICON             ICON                    "icons\\saved.ico"
IDI_UNSAVED_ICON         ICON                    "icons\\unsaved.ico"
IDI_READONLY_ICON         ICON                    "icons\\readonly.ico"
IDI_DELETE_ICON         ICON                    "icons\\delete.ico"

IDI_FIND_RESULT_ICON         ICON                    "icons\\findResult.ico"

IDC_DRAG_TAB         CURSOR                    "cursors\\drag.cur"
IDC_DRAG_INTERDIT_TAB         CURSOR         "cursors\\drag_interdit.cur"
IDC_DRAG_PLUS_TAB         CURSOR         "cursors\\drag_plus.cur"

IDR_FILENEW        BITMAP        "icons\\newFile.bmp"
IDR_FILEOPEN    BITMAP        "icons\\openFile.bmp"
IDR_FILESAVE    BITMAP        "icons\\saveFile.bmp"
IDR_SAVEALL        BITMAP        "icons\\saveAll.bmp"
IDR_CLOSEFILE    BITMAP        "icons\\closeFile.bmp"
IDR_CLOSEALL    BITMAP        "icons\\closeAll.bmp"
IDR_FIND            BITMAP        "icons\\find.bmp"
IDR_REPLACE        BITMAP        "icons\\findReplace.bmp"
IDR_ZOOMIN        BITMAP        "icons\\zoomIn.bmp"
IDR_ZOOMOUT    BITMAP        "icons\\zoomOut.bmp"
IDR_WRAP        BITMAP        "icons\\wrap.bmp"
IDR_INVISIBLECHAR    BITMAP        "icons\\invisibleChar.bmp"
IDR_INDENTGUIDE        BITMAP        "icons\\indentGuide.bmp"
IDR_SHOWPANNEL    BITMAP        "icons\\showPannel.bmp"
IDR_STARTRECORD    BITMAP        "icons\\startRecord.bmp"
IDR_STOPRECORD    BITMAP        "icons\\stopRecord.bmp"
IDR_PLAYRECORD    BITMAP        "icons\\playRecord.bmp"
IDR_M_PLAYRECORD    BITMAP        "icons\\playRecord_m.bmp"
IDR_SAVERECORD    BITMAP        "icons\\saveRecord.bmp"
IDR_CUT        BITMAP        "icons\\cut.bmp"
IDR_COPY    BITMAP        "icons\\copy.bmp"
IDR_PASTE    BITMAP        "icons\\paste.bmp"
IDR_UNDO    BITMAP        "icons\\undo.bmp"
IDR_REDO    BITMAP        "icons\\redo.bmp"

IDR_SYNCV    BITMAP        "icons\\syncV.bmp"
IDR_SYNCH    BITMAP        "icons\\syncH.bmp"
IDR_PRINT    BITMAP        "icons\\print.bmp"
IDR_CLOSETAB BITMAP     "icons\\closeTabButton.bmp"
IDR_CLOSETAB_INACT BITMAP     "icons\\closeTabButton_inact.bmp"
IDR_CLOSETAB_HOVER BITMAP     "icons\\closeTabButton_hover.bmp"
IDR_CLOSETAB_PUSH BITMAP     "icons\\closeTabButton_push.bmp"

IDI_STARTRECORD_OFF_ICON     ICON                    "icons\\startrecord_off.ico"
IDI_STARTRECORD_ON_ICON        ICON                    "icons\\startrecord_on.ico"
IDI_STARTRECORD_DISABLE_ICON ICON                     "icons\\startrecord_dis.ico"
IDI_STOPRECORD_OFF_ICON        ICON                    "icons\\stoprecord_off.ico"
IDI_STOPRECORD_ON_ICON         ICON                    "icons\\stoprecord_on.ico"
IDI_STOPRECORD_DISABLE_ICON    ICON                    "icons\\stoprecord_dis.ico"
IDI_PLAYRECORD_OFF_ICON        ICON                    "icons\\playrecord_off.ico"
IDI_PLAYRECORD_ON_ICON         ICON                    "icons\\playrecord_on.ico"
IDI_PLAYRECORD_DISABLE_ICON    ICON                    "icons\\playrecord_dis.ico"
IDI_SAVERECORD_OFF_ICON         ICON                    "icons\\saverecord_off.ico"
IDI_SAVERECORD_ON_ICON         ICON                    "icons\\saverecord_on.ico"
IDI_SAVERECORD_DISABLE_ICON    ICON                    "icons\\saverecord_dis.ico"

IDI_SYNCV_OFF_ICON        ICON    "icons\\syncV_off.ico"
IDI_SYNCV_ON_ICON        ICON    "icons\\syncV_on.ico"
IDI_SYNCV_DISABLE_ICON    ICON    "icons\\syncV_dis.ico"
IDI_SYNCH_OFF_ICON        ICON    "icons\\syncH_off.ico"
IDI_SYNCH_ON_ICON        ICON    "icons\\syncH_on.ico"
IDI_SYNCH_DISABLE_ICON    ICON    "icons\\syncH_dis.ico"

// multi run macro
IDI_MMPLAY_DIS_ICON             ICON                    "icons\\playrecord_m_dis.ico"
IDI_MMPLAY_OFF_ICON             ICON                    "icons\\playrecord_m_off.ico"
IDI_MMPLAY_ON_ICON                ICON                    "icons\\playrecord_m_on.ico"

IDR_M30_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",                IDM_FILE_NEW
        MENUITEM "&Open...",            IDM_FILE_OPEN
        MENUITEM "Re&load from Disk",            IDM_FILE_RELOAD
        MENUITEM "&Save",                 IDM_FILE_SAVE
        MENUITEM "Save &As...",                 IDM_FILE_SAVEAS
        MENUITEM "Save a Copy As...",                 IDM_FILE_SAVECOPYAS
        MENUITEM "Sav&e All",                 IDM_FILE_SAVEALL
        MENUITEM "Rename...",    IDM_FILE_RENAME
        MENUITEM "&Close",                IDM_FILE_CLOSE
        MENUITEM "Cl&ose All",                            IDM_FILE_CLOSEALL
        MENUITEM "Close All but Active Document",    IDM_FILE_CLOSEALL_BUT_CURRENT
        MENUITEM "Delete from Disk",    IDM_FILE_DELETE
        MENUITEM SEPARATOR
        MENUITEM "Load Session...",                 IDM_FILE_LOADSESSION
        MENUITEM "Save Session...",                 IDM_FILE_SAVESESSION
        MENUITEM SEPARATOR
        MENUITEM "Print...",            IDM_FILE_PRINT
        MENUITEM "Print Now!",                    IDM_FILE_PRINTNOW
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                         IDM_FILE_EXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "&Undo",                 IDM_EDIT_UNDO
        MENUITEM "&Redo",                 IDM_EDIT_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cu&t",                IDM_EDIT_CUT
        MENUITEM "&Copy",                 IDM_EDIT_COPY
        MENUITEM "&Paste",                IDM_EDIT_PASTE
        MENUITEM "&Delete",                IDM_EDIT_DELETE
        MENUITEM "Select A&ll",         IDM_EDIT_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Copy Current full file path to Clipboard", IDM_EDIT_FULLPATHTOCLIP
        MENUITEM "Copy Current file name to Clipboard",        IDM_EDIT_FILENAMETOCLIP
        MENUITEM "Copy Current dir path to Clipboard",        IDM_EDIT_CURRENTDIRTOCLIP
        MENUITEM SEPARATOR
        MENUITEM "Insert TAB (Indent)",         IDM_EDIT_INS_TAB
        MENUITEM "Remove TAB (Outdent)",    IDM_EDIT_RMV_TAB
        MENUITEM "Duplicate current line",     IDM_EDIT_DUP_LINE
        MENUITEM "Split lines",             IDM_EDIT_SPLIT_LINES
        MENUITEM "Join lines",     IDM_EDIT_JOIN_LINES
        MENUITEM "Move Up current line",     IDM_EDIT_LINE_UP
        MENUITEM "Move Down current line",     IDM_EDIT_LINE_DOWN
        MENUITEM "Trim Trailing Space",     IDM_EDIT_TRIMTRAILING
        MENUITEM SEPARATOR
        MENUITEM "Column Editor...",     IDM_EDIT_COLUMNMODE
        MENUITEM SEPARATOR
        MENUITEM "to &Upper case",     IDM_EDIT_UPPERCASE
        MENUITEM "to &Lower case",     IDM_EDIT_LOWERCASE
        MENUITEM SEPARATOR
        MENUITEM "Block toggle comment", IDM_EDIT_BLOCK_COMMENT
        MENUITEM "Block comment",     IDM_EDIT_BLOCK_COMMENT_SET
        MENUITEM "Block uncomment", IDM_EDIT_BLOCK_UNCOMMENT
        MENUITEM "Stream comment",    IDM_EDIT_STREAM_COMMENT
        MENUITEM SEPARATOR
        MENUITEM "Function completion", IDM_EDIT_AUTOCOMPLETE
        MENUITEM "Word completion",    IDM_EDIT_AUTOCOMPLETE_CURRENTFILE
        MENUITEM "Function parameters hint", IDM_EDIT_FUNCCALLTIP
        MENUITEM SEPARATOR
        MENUITEM "Set Read Only",    IDM_EDIT_SETREADONLY
        MENUITEM "Clear Read Only Flag",    IDM_EDIT_CLEARREADONLY
        //MENUITEM SEPARATOR
    END

    POPUP "&Search"
    BEGIN
        MENUITEM "&Find...",                    IDM_SEARCH_FIND
        MENUITEM "Find in files...",        IDM_SEARCH_FINDINFILES
        MENUITEM "Find &Next",                        IDM_SEARCH_FINDNEXT
        MENUITEM "Find &Previous",             IDM_SEARCH_FINDPREV
        MENUITEM "Find (volatile) Next",            IDM_SEARCH_VOLATILE_FINDNEXT
        MENUITEM "Find (volatile) Previous",    IDM_SEARCH_VOLATILE_FINDPREV
        MENUITEM "Mark all",                        IDM_SEARCH_MARKALL
        MENUITEM "Unmark all",                IDM_SEARCH_UNMARKALL
        MENUITEM "&Replace...",                 IDM_SEARCH_REPLACE
        MENUITEM "&Incremental Search...",        IDM_SEARCH_FINDINCREMENT
        MENUITEM "&Go to...",                 IDM_SEARCH_GOTOLINE
        MENUITEM SEPARATOR
        MENUITEM "Go to matching brace",                IDM_SEARCH_GOTOMATCHINGBRACE
        MENUITEM SEPARATOR
        MENUITEM "Toggle Bookmark" ,    IDM_SEARCH_TOGGLE_BOOKMARK
        MENUITEM "Next Bookmark",            IDM_SEARCH_NEXT_BOOKMARK
        MENUITEM "Previous Bookmark",    IDM_SEARCH_PREV_BOOKMARK
        MENUITEM "Clear all Bookmarks",        IDM_SEARCH_CLEAR_BOOKMARKS
        MENUITEM "Cut bookmarked lines",    IDM_SEARCH_CUTMARKEDLINES
        MENUITEM "Copy bookmarked lines",    IDM_SEARCH_COPYMARKEDLINES
        MENUITEM "Paste to (Replace) bookmarked lines",    IDM_SEARCH_PASTEMARKEDLINES
        MENUITEM "Delete bookmarked lines",    IDM_SEARCH_DELETEMARKEDLINES
    END

    POPUP "&View"
    BEGIN
        MENUITEM "Toggle Full Screen Mode",    IDM_VIEW_FULLSCREENTOGGLE
        MENUITEM "Always on top",    IDM_VIEW_ALWAYSONTOP
        MENUITEM "Post-it",    IDM_VIEW_POSTIT

        MENUITEM SEPARATOR
        MENUITEM "Show White Space and TAB",            IDM_VIEW_TAB_SPACE
        MENUITEM "Show End Of Line",            IDM_VIEW_EOL
        MENUITEM "Show all characters",            IDM_VIEW_ALL_CHARACTERS
        MENUITEM SEPARATOR
        MENUITEM "Show Indent guide",             IDM_VIEW_INDENT_GUIDE
        MENUITEM "Wrap",                         IDM_VIEW_WRAP
        MENUITEM "Show wrap symbol",             IDM_VIEW_WRAP_SYMBOL
        MENUITEM "User Define Dialog...",        IDM_VIEW_USER_DLG
        MENUITEM SEPARATOR
        MENUITEM "Zoom &in",                 IDM_VIEW_ZOOMIN
        MENUITEM "Zoom &out",                 IDM_VIEW_ZOOMOUT
        MENUITEM "Restore default zoom setting",     IDM_VIEW_ZOOMRESTORE
        MENUITEM SEPARATOR
        MENUITEM "Fold all",                        IDM_VIEW_TOGGLE_FOLDALL
        MENUITEM "Collapse the current level",            IDM_VIEW_FOLD_CURRENT
        MENUITEM "Uncollapse the current level",            IDM_VIEW_UNFOLD_CURRENT
        POPUP "Collapse the level"
        BEGIN
            MENUITEM "1" ,        IDM_VIEW_FOLD_1
            MENUITEM "2",        IDM_VIEW_FOLD_2
            MENUITEM "3",        IDM_VIEW_FOLD_3
            MENUITEM "4",        IDM_VIEW_FOLD_4
            MENUITEM "5" ,        IDM_VIEW_FOLD_5
            MENUITEM "6",        IDM_VIEW_FOLD_6
            MENUITEM "7",        IDM_VIEW_FOLD_7
            MENUITEM "8",        IDM_VIEW_FOLD_8
        END
        POPUP "Uncollapse the level"
        BEGIN
            MENUITEM "1" ,        IDM_VIEW_UNFOLD_1
            MENUITEM "2",        IDM_VIEW_UNFOLD_2
            MENUITEM "3",        IDM_VIEW_UNFOLD_3
            MENUITEM "4",        IDM_VIEW_UNFOLD_4
            MENUITEM "5" ,        IDM_VIEW_UNFOLD_5
            MENUITEM "6",        IDM_VIEW_UNFOLD_6
            MENUITEM "7",        IDM_VIEW_UNFOLD_7
            MENUITEM "8",        IDM_VIEW_UNFOLD_8
        END
        MENUITEM "Unfold all",     IDM_VIEW_TOGGLE_UNFOLDALL
        MENUITEM SEPARATOR
        MENUITEM "Hide lines",                 IDM_VIEW_HIDELINES
        MENUITEM SEPARATOR
        MENUITEM "Go to another view",                     IDM_VIEW_GOTO_ANOTHER_VIEW
        MENUITEM "Clone to another view",                 IDM_VIEW_CLONE_TO_ANOTHER_VIEW
        MENUITEM "Focus on other view",                 IDM_VIEW_SWITCHTO_OTHER_VIEW
        MENUITEM "Go to new instance",                     IDM_VIEW_GOTO_NEW_INSTANCE
        MENUITEM "Open in new instance",                     IDM_VIEW_LOAD_IN_NEW_INSTANCE
        MENUITEM SEPARATOR
        MENUITEM "Synchronize Vertical Scrolling",    IDM_VIEW_SYNSCROLLV
        MENUITEM "Synchronize Horizontal Scrolling",    IDM_VIEW_SYNSCROLLH
        MENUITEM SEPARATOR
        MENUITEM "Text Direction RTL",    IDM_EDIT_RTL
        MENUITEM "Text Direction LTR",    IDM_EDIT_LTR
    END

    POPUP "For&mat"
    BEGIN
        MENUITEM "Convert to Windows Format",         IDM_FORMAT_TODOS
        MENUITEM "Convert to UNIX Format",                IDM_FORMAT_TOUNIX
        MENUITEM "Convert to Mac Format",                IDM_FORMAT_TOMAC
        MENUITEM SEPARATOR
        MENUITEM "Encode in ANSI",                             IDM_FORMAT_ANSI
        MENUITEM "Encode in UTF-8 without BOM",             IDM_FORMAT_AS_UTF_8
        MENUITEM "Encode in UTF-8",                            IDM_FORMAT_UTF_8
        MENUITEM "Encode in UCS-2 Big Endian",        IDM_FORMAT_UCS_2BE
        MENUITEM "Encode in UCS-2 Little Endian",     IDM_FORMAT_UCS_2LE
        MENUITEM SEPARATOR
        MENUITEM "Convert to ANSI",                    IDM_FORMAT_CONV2_ANSI
        MENUITEM "Convert to UTF-8 without BOM",       IDM_FORMAT_CONV2_AS_UTF_8
        MENUITEM "Convert to UTF-8",                   IDM_FORMAT_CONV2_UTF_8
        MENUITEM "Convert to UCS-2 Big Endian",        IDM_FORMAT_CONV2_UCS_2BE
        MENUITEM "Convert to UCS-2 Little Endian",     IDM_FORMAT_CONV2_UCS_2LE
    END

    POPUP "&Language"
    BEGIN

        MENUITEM "Ada",                IDM_LANG_ADA
        MENUITEM "ASP",                IDM_LANG_ASP
        MENUITEM "Assembly",        IDM_LANG_ASM
        MENUITEM "AutoIt",                IDM_LANG_AU3
        MENUITEM "Batch",            IDM_LANG_BATCH
        MENUITEM "C",                    IDM_LANG_C
        MENUITEM "C#",                IDM_LANG_CS
        MENUITEM "C++",                IDM_LANG_CPP
        MENUITEM "Caml",                IDM_LANG_CAML
        MENUITEM "Cmake",                IDM_LANG_CMAKE
        MENUITEM "CSS",                IDM_LANG_CSS
        MENUITEM "Diff",                IDM_LANG_DIFF
        MENUITEM "Flash actionscript",    IDM_LANG_FLASH
        MENUITEM "Fortran",         IDM_LANG_FORTRAN
        MENUITEM "Haskell",                IDM_LANG_HASKELL
        MENUITEM "HTML",                IDM_LANG_HTML
        MENUITEM "INNO",                IDM_LANG_INNO
        MENUITEM "Java",                IDM_LANG_JAVA
        MENUITEM "Javascript",                IDM_LANG_JS
        MENUITEM "KIXtart",                IDM_LANG_KIX
        MENUITEM "LISP",        IDM_LANG_LISP
        MENUITEM "Lua",        IDM_LANG_LUA
        MENUITEM "Makefile",                IDM_LANG_MAKEFILE
        MENUITEM "Matlab",                IDM_LANG_MATLAB
        MENUITEM "MS INI file",            IDM_LANG_INI
        MENUITEM "MS-DOS Style",        IDM_LANG_ASCII
        MENUITEM "Normal Text",        IDM_LANG_TEXT
        MENUITEM "NSIS",    IDM_LANG_NSIS
        MENUITEM "Objective-C",        IDM_LANG_OBJC
        MENUITEM "Pascal",            IDM_LANG_PASCAL
        MENUITEM "Perl",                IDM_LANG_PERL
        MENUITEM "PHP",                IDM_LANG_PHP
        MENUITEM "Postscript",     IDM_LANG_PS
        MENUITEM "Properties",                IDM_LANG_PROPS
        MENUITEM "Python",                IDM_LANG_PYTHON
        MENUITEM "rc resource file",            IDM_LANG_RC
        MENUITEM "Ruby",        IDM_LANG_RUBY
        MENUITEM "Shell",    IDM_LANG_SH
        MENUITEM "Scheme",        IDM_LANG_SCHEME
        MENUITEM "Smalltalk",        IDM_LANG_SMALLTALK
        MENUITEM "SQL",                IDM_LANG_SQL
        MENUITEM "TCL",                IDM_LANG_TCL
        MENUITEM "TeX",     IDM_LANG_TEX
        MENUITEM "VB",                IDM_LANG_VB
        MENUITEM "VHDL",    IDM_LANG_VHDL
        MENUITEM "Verilog",    IDM_LANG_VERILOG
        MENUITEM "XML",                IDM_LANG_XML
        MENUITEM "YAML",               IDM_LANG_YAML
        MENUITEM SEPARATOR
        MENUITEM "User Defined",        IDM_LANG_USER
    END

    POPUP "Se&ttings"
    BEGIN
        MENUITEM "Preferences...",             IDM_SETTING_PREFERECE
        MENUITEM "Styler Configurator...",                     IDM_LANGSTYLE_CONFIG_DLG
    MENUITEM "Shortcut Mapper...",                     IDM_SETTING_SHORTCUT_MAPPER
    END

    POPUP "Macro"
    BEGIN
        MENUITEM "Start Re&cording",    IDM_MACRO_STARTRECORDINGMACRO
        MENUITEM "S&top Recording",     IDM_MACRO_STOPRECORDINGMACRO
        MENUITEM "&Playback",     IDM_MACRO_PLAYBACKRECORDEDMACRO
        MENUITEM "&Save current recorded macro",     IDM_MACRO_SAVECURRENTMACRO
        MENUITEM "&Run a macro multiple times...",     IDM_MACRO_RUNMULTIMACRODLG
    END

    POPUP "Run"
    BEGIN
        MENUITEM "&Run...",                     IDM_EXECUTE
    END

    POPUP "&?"
    BEGIN
        MENUITEM "Help content",              IDM_HELP
        MENUITEM SEPARATOR
        MENUITEM "Notepad++ Home",            IDM_HOMESWEETHOME
        MENUITEM "Notepad++ Project Page",    IDM_PROJECTPAGE
        MENUITEM "Online help",               IDM_ONLINEHELP
        MENUITEM "Wiki FAQ",                  IDM_WIKIFAQ
        MENUITEM "Forum",                     IDM_FORUM
        MENUITEM "Get more plugins",          IDM_PLUGINSHOME
        MENUITEM SEPARATOR
        MENUITEM "Update Notepad++",          IDM_UPDATE_NPP
        MENUITEM "About Notepad++",           IDM_ABOUT
    END

    MENUITEM "X",            IDM_FILE_CLOSE, HELP
END

IDD_ABOUTBOX DIALOGEX 0, 0, 271, 240
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x1
BEGIN
    LTEXT           NOTEPAD_PLUS_VERSION, IDC_STATIC,50,16,65,11
    LTEXT           UNICODE_ANSI_MODE, IDC_STATIC,120,16,65,11
    GROUPBOX        "GNU General Public Licence",IDC_STATIC,19,75,231,131,BS_CENTER
    DEFPUSHBUTTON   "Ok",IDOK,106,215,50,14,BS_FLAT,WS_EX_STATICEDGE
    LTEXT           "Author :",IDC_STATIC,21,41,31,8
    LTEXT           "Don HO",IDC_AUTHOR_NAME,78,41,25,8
    LTEXT           "Home Page :",IDC_STATIC,21,54,47,8
    LTEXT           "http://notepad-plus.sourceforge.net/",IDC_HOME_ADDR,78,54,126,8
    EDITTEXT        IDC_LICENCE_EDIT,31,99,209,96,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
    EDITTEXT        IDC_BUILD_DATETIME,150,2,150,10, ES_READONLY | NOT WS_BORDER
    CONTROL         "",IDI_M30ICON,"Static",SS_OWNERDRAW,21,10,20,20
END

IDD_GOLINE DIALOGEX 26, 41, 261, 88
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "Go To..."
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x0
BEGIN
    CONTROL         "&Line",IDC_RADIO_GOTOLINE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,5,9,80,10
    CONTROL         "&Offset",IDC_RADIO_GOTOOFFSET,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,98,9,80,10
    LTEXT           "You are here :",ID_URHERE_STATIC,5,34,95,8,NOT WS_GROUP
    LTEXT           "0123456789",ID_CURRLINE,100,34,45,8,NOT WS_GROUP
    LTEXT           "You want to &go :",ID_UGO_STATIC,5,51,95,8
    EDITTEXT        ID_GOLINE_EDIT,98,49,71,12,ES_NUMBER
    LTEXT           "You can't go further than :",ID_NOMORETHAN_STATIC,5,68,92,8,NOT WS_GROUP
    LTEXT           "0123456789",ID_LASTLINE,100,68,45,8,NOT WS_GROUP
    DEFPUSHBUTTON   "Go !",IDOK,181,48,70,14,BS_NOTIFY
    PUSHBUTTON      "I'm going nowhere",IDCANCEL,181,66,70,14,BS_NOTIFY
END

IDD_VALUE_DLG DIALOGEX 0, 0, 74, 17
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION |
    WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x1
BEGIN
    LTEXT             "STATIC :",IDC_VALUE_STATIC,6,4,45,8
    EDITTEXT        IDC_VALUE_EDIT,49,2,18,14,ES_NUMBER,WS_EX_DLGMODALFRAME
END

// xp style
1 RT_MANIFEST "notepad++.exe.manifest"
