/*
this file is part of notepad++
Copyright (C)2003 Don HO <donho@altern.org >

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either
version 2 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
*/

#ifndef FIND_REPLACE_DLG_RC
#define FIND_REPLACE_DLG_RC
#include <windows.h>
#include "FindReplaceDlg_rc.h"

IDD_FIND_REPLACE_DLG DIALOGEX 36, 44, 317, 182
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Replace"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    RTEXT           "&Find what :",IDFINDWHAT_STATIC,6,22,75,8
    COMBOBOX        IDFINDWHAT,83,20,125,150,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    RTEXT           "Rep&lace with :",ID_STATICTEXT_REPLACE,6,40,75,8
    COMBOBOX        IDREPLACEWITH,83,38,125,50,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    CONTROL         "&Mark Line",IDC_MARKLINE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,40,88,10
    CONTROL         "Style found to&ken",IDC_STYLEFOUND_CHECK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,13,52,100,15
    GROUPBOX        "",IDC_FINDALL_STATIC,6,31,204,54
    CONTROL         "Purge for each search",IDC_PURGE_CHECK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,13,66,99,16
    PUSHBUTTON      "Find &All",IDCMARKALL,146,38,59,14
    GROUPBOX        "",IDC_REPLACEINSELECTION,141,50,170,23
    CONTROL         "In select&ion",IDC_IN_SELECTION_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,146,58,59,10
    PUSHBUTTON      "Clear",IDC_CLEAR_ALL,146,71,59,11
    RTEXT           "Filter&s :",IDD_FINDINFILES_FILTERS_STATIC,27,58,53,8
    COMBOBOX        IDD_FINDINFILES_FILTERS_COMBO,83,56,125,150,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    RTEXT           "Dir&ectory :",IDD_FINDINFILES_DIR_STATIC,7,76,40,8
    COMBOBOX        IDD_FINDINFILES_DIR_COMBO,49,74,141,150,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "...",IDD_FINDINFILES_BROWSE_BUTTON,193,74,15,13
    CONTROL         "In all su&b-folders",IDD_FINDINFILES_RECURSIVE_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,218,73,80,15
    CONTROL         "In &hidden folders",IDD_FINDINFILES_INHIDDENDIR_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,218,87,80,15
    CONTROL         "Match &whole word only",IDWHOLEWORD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,88,104,15
    CONTROL         "Match &case",IDMATCHCASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,6,100,82,15
    CONTROL         "Wra&p around",IDWRAP,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,6,112,110,15
    GROUPBOX        "Search mode",IDC_MODE_STATIC,6,126,138,48
    CONTROL         "&Normal",IDNORMAL,"Button",BS_AUTORADIOBUTTON | WS_GROUP,12,138,126,10
    CONTROL         "E&xtended (\\n, \\r, \\t, \\0, \\x...)",IDEXTENDED, "Button",BS_AUTORADIOBUTTON,12,150,126,10
    CONTROL         "Re&gular expression",IDREGEXP,"Button",BS_AUTORADIOBUTTON,12,162,126,10
    CONTROL         "&Up",IDDIRECTIONUP,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,155,138,45,12
    CONTROL         "&Down",IDDIRECTIONDOWN,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,155,150,45,12
    GROUPBOX        "Direction",IDC_DIR_STATIC,150,126,60,48,WS_GROUP
    PUSHBUTTON      "Find Next",IDOK,217,20,90,14,WS_GROUP
    PUSHBUTTON      "Coun&t",IDCCOUNTALL,217,38,90,14
    PUSHBUTTON      "Find all in all &opened documents",IDC_FINDALL_OPENEDFILES,217,56,90,21,BS_MULTILINE
    PUSHBUTTON      "&Replace",IDREPLACE,217,38,90,14
    PUSHBUTTON      "Replace &All",IDREPLACEALL,217,56,90,14
    PUSHBUTTON      "Replace all in all &opened documents",IDC_REPLACE_OPENEDFILES,217,74,90,21,BS_MULTILINE
    PUSHBUTTON      "Find All",IDD_FINDINFILES_FIND_BUTTON,217,20,90,14,WS_GROUP
    PUSHBUTTON      "&Replace in files",IDD_FINDINFILES_REPLACEINFILES,217,38,90,14
    PUSHBUTTON      "Close",IDCANCEL,217,98,90,14
    GROUPBOX        "",IDC_TRANSPARENT_GRPBOX,222,126,85,48
    CONTROL         "Transparenc&y",IDC_TRANSPARENT_CHECK,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,218,126,57,10
    CONTROL         "On lose focus",IDC_TRANSPARENT_LOSSFOCUS_RADIO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,232,138,65,10
    CONTROL         "Always",IDC_TRANSPARENT_ALWAYS_RADIO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,232,150,63,10
    CONTROL         "",IDC_PERCENTAGE_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | NOT WS_VISIBLE | WS_TABSTOP,235,161,53,10
END

IDD_INCREMENT_FIND DIALOGEX 0, 0, 400, 20
STYLE DS_SYSMODAL | DS_CONTROL | DS_FIXEDSYS | WS_CHILD | WS_CLIPCHILDREN
//EXSTYLE WS_EX_TRANSPARENT
FONT 8, TEXT("MS Shell Dlg")
BEGIN
	PUSHBUTTON   "X",IDCANCEL,2,3,16,14
	RTEXT           "Find :",IDC_INCSTATIC,20,6,25,12
	EDITTEXT        IDC_INCFINDTEXT,45,4,175,12,ES_AUTOHSCROLL | ES_WANTRETURN | NOT WS_BORDER,WS_EX_STATICEDGE
	PUSHBUTTON   "<",IDC_INCFINDPREVOK,223,3,16,14
	DEFPUSHBUTTON   ">",IDC_INCFINDNXTOK,243,3,16,14
	CONTROL         "Highlight all", IDC_INCFINDHILITEALL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,270,5,65,12 
	CONTROL         "Match case", IDC_INCFINDMATCHCASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,335,5,60,12 
END

IDD_FINDRESULT DIALOGEX 26, 41, 223, 67
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "Find result"
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x0
BEGIN
DEFPUSHBUTTON   ">",IDC_INCFINDNXTOK,243,0,16,14, NOT WS_VISIBLE
END

#endif //FIND_REPLACE_DLG_RC
