// This file is part of Notepad++ project
// Copyright (C)2003 Don HO <don.h@free.fr>
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either
// version 2 of the License, or (at your option) any later version.
//
// Note that the GPL places important restrictions on "derived works", yet
// it does not provide a detailed definition of that term.  To avoid      
// misunderstandings, we consider an application to constitute a          
// "derivative work" for the purpose of this license if it does any of the
// following:                                                             
// 1. Integrates source code from Notepad++.
// 2. Integrates/includes/aggregates Notepad++ into a proprietary executable
//    installer, such as those produced by InstallShield.
// 3. Links to a library or executes a program that does any of the above.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.


#ifndef FIND_REPLACE_DLG_RC
#define FIND_REPLACE_DLG_RC
#include <windows.h>
#include "FindReplaceDlg_rc.h"

IDD_FIND_REPLACE_DLG DIALOGEX 36, 44, 367, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Replace"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    RTEXT           "&Find what :",IDFINDWHAT_STATIC,6,22,75,8
    COMBOBOX        IDFINDWHAT,83,20,178,150,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    RTEXT           "Rep&lace with :",ID_STATICTEXT_REPLACE,6,40,75,8
    COMBOBOX        IDREPLACEWITH,83,38,178,50,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    RTEXT           "Filter&s :",IDD_FINDINFILES_FILTERS_STATIC,27,58,53,8
    COMBOBOX        IDD_FINDINFILES_FILTERS_COMBO,83,56,125,150,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    RTEXT           "Dir&ectory :",IDD_FINDINFILES_DIR_STATIC,7,76,40,8
    COMBOBOX        IDD_FINDINFILES_DIR_COMBO,49,74,190,150,CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "...",IDD_FINDINFILES_BROWSE_BUTTON,245,74,15,13
    CONTROL         "Follow current doc.",IDD_FINDINFILES_FOLDERFOLLOWSDOC_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,270,73,94,15
    CONTROL         "In all su&b-folders",IDD_FINDINFILES_RECURSIVE_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,270,87,94,15
    CONTROL         "In &hidden folders",IDD_FINDINFILES_INHIDDENDIR_CHECK,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,270,101,94,15
    CONTROL         "Book&mark line",IDC_MARKLINE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,52,100,15
    CONTROL         "Purge for each search",IDC_PURGE_CHECK,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,12,66,99,16
    PUSHBUTTON      "Mark All",IDCMARKALL,268,20,90,14
    GROUPBOX        "",IDC_REPLACEINSELECTION,192,50,170,23
    CONTROL         "In select&ion",IDC_IN_SELECTION_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,200,58,59,10
    PUSHBUTTON      "Clear all marks",IDC_CLEAR_ALL,268,38,90,14
    CONTROL         "Match &whole word only",IDWHOLEWORD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,88,140,15
    CONTROL         "Match &case",IDMATCHCASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,100,140,15
    CONTROL         "Wra&p around",IDWRAP,"Button",BS_AUTOCHECKBOX | BS_MULTILINE | WS_TABSTOP,12,112,110,15
    GROUPBOX        "Search Mode",IDC_MODE_STATIC,6,131,159,48
    CONTROL         "&Normal",IDNORMAL,"Button",BS_AUTORADIOBUTTON | WS_GROUP,12,143,126,10
    CONTROL         "E&xtended (\\n, \\r, \\t, \\0, \\x...)",IDEXTENDED,
                    "Button",BS_AUTORADIOBUTTON,12,155,145,10
    CONTROL         "Re&gular expression",IDREGEXP,"Button",BS_AUTORADIOBUTTON,12,167,78,10
    CONTROL         "&Up",IDDIRECTIONUP,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,177,143,64,12
    CONTROL         "&Down",IDDIRECTIONDOWN,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,177,155,63,12
    GROUPBOX        "Direction",IDC_DIR_STATIC,172,131,74,48,WS_GROUP
    PUSHBUTTON      "Find Next",IDOK,268,20,90,14,WS_GROUP
    PUSHBUTTON      "Coun&t",IDCCOUNTALL,268,38,90,14
    PUSHBUTTON      "Find All in All &Opened Documents",IDC_FINDALL_OPENEDFILES,268,56,90,21,BS_MULTILINE
    PUSHBUTTON      "Find All in Current Document",IDC_FINDALL_CURRENTFILE,268,80,90,21,BS_MULTILINE
    PUSHBUTTON      "&Replace",IDREPLACE,268,38,90,14
    PUSHBUTTON      "Replace &All",IDREPLACEALL,268,56,90,14
    PUSHBUTTON      "Replace All in All &Opened Documents",IDC_REPLACE_OPENEDFILES,268,74,90,21,BS_MULTILINE
    PUSHBUTTON      "Find All",IDD_FINDINFILES_FIND_BUTTON,268,20,90,14,WS_GROUP
    PUSHBUTTON      "&Replace in Files",IDD_FINDINFILES_REPLACEINFILES,268,38,90,14
    PUSHBUTTON      "Close",IDCANCEL,268,98,90,14
    GROUPBOX        "",IDC_TRANSPARENT_GRPBOX,258,131,99,48
    CONTROL         "Transparenc&y",IDC_TRANSPARENT_CHECK,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,254,131,80,10
    CONTROL         "On losing focus",IDC_TRANSPARENT_LOSSFOCUS_RADIO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,268,143,86,10
    CONTROL         "Always",IDC_TRANSPARENT_ALWAYS_RADIO,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,268,155,83,10
    CONTROL         "",IDC_PERCENTAGE_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | NOT WS_VISIBLE | WS_TABSTOP,271,166,53,10
	CONTROL         "&. matches newline",IDREDOTMATCHNL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,93,167,67,9
END

IDB_INCREMENTAL_BG          BITMAP                  "..\\icons\\incrementalBg.bmp"

IDD_INCREMENT_FIND DIALOGEX 0, 0, 400, 20
STYLE DS_SYSMODAL | DS_CONTROL | DS_FIXEDSYS | WS_CHILD | WS_CLIPCHILDREN
//EXSTYLE WS_EX_TRANSPARENT
FONT 8, TEXT("MS Shell Dlg")
BEGIN
	PUSHBUTTON   "X",IDCANCEL,2,3,16,14
	RTEXT           "Find :",IDC_INCSTATIC,20,6,25,12
	EDITTEXT        IDC_INCFINDTEXT,45,6,175,10,ES_AUTOHSCROLL | ES_WANTRETURN | NOT WS_BORDER | WS_TABSTOP, WS_EX_STATICEDGE
	PUSHBUTTON   "<",IDC_INCFINDPREVOK | WS_TABSTOP,223,3,16,14
	PUSHBUTTON   ">",IDC_INCFINDNXTOK | WS_TABSTOP,243,3,16,14
	CONTROL         "&Highlight all", IDC_INCFINDHILITEALL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,270,5,65,12 
	CONTROL         "Match &case", IDC_INCFINDMATCHCASE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,335,5,60,12 
	LTEXT           "",IDC_INCFINDSTATUS,400,6,180,12
END

IDD_FINDRESULT DIALOGEX 26, 41, 223, 67
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_WINDOWEDGE
CAPTION "Find result"
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x0
BEGIN
DEFPUSHBUTTON   ">",IDC_INCFINDNXTOK,243,0,16,14, NOT WS_VISIBLE
END

#endif //FIND_REPLACE_DLG_RC
