// This file is part of Notepad++ project
// Copyright (C)2003 Don HO <don.h@free.fr>
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either
// version 2 of the License, or (at your option) any later version.
//
// Note that the GPL places important restrictions on "derived works", yet
// it does not provide a detailed definition of that term.  To avoid      
// misunderstandings, we consider an application to constitute a          
// "derivative work" for the purpose of this license if it does any of the
// following:                                                             
// 1. Integrates source code from Notepad++.
// 2. Integrates/includes/aggregates Notepad++ into a proprietary executable
//    installer, such as those produced by InstallShield.
// 3. Links to a library or executes a program that does any of the above.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.


#ifndef USERDEFINEDIALOG_RC
#define USERDEFINEDIALOG_RC

#include <windows.h>
#include "UserDefineResource.h"

IDD_FOLDER_STYLE_DLG DIALOGEX 36, 44, 337, 400
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "http://udl20.weebly.com/",IDC_WEB_HELP_LINK,44,45,114,13
    LTEXT           "Temporary doc site:",IDC_WEB_HELP_STATIC,44,31,114,13
    GROUPBOX        "Documentation:",IDC_WEB_HELP_DESCGROUP_STATIC,12,14,152,49
    PUSHBUTTON      "Styler",IDC_DEFAULT_STYLER,62,94,54,13
    GROUPBOX        "Default style:",IDC_DEFAULT_DESCGROUP_STATIC,12,71,152,49
    CONTROL         "Fold &compact (fold empty lines too)",IDC_FOLDER_FOLD_COMPACT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,143,152,11
    EDITTEXT        IDC_FOLDER_IN_COMMENT_OPEN_EDIT,186,62,131,22,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_FOLDER_IN_COMMENT_MIDDLE_EDIT,186,99,131,22,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_FOLDER_IN_COMMENT_CLOSE_EDIT,186,137,131,22,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_FOLDER_IN_COMMENT_STYLER,186,30,54,13
    LTEXT           "Open:",IDC_FOLDER_IN_COMMENT_OPEN_STATIC,186,53,113,8
    LTEXT           "Middle:",IDC_FOLDER_IN_COMMENT_MIDDLE_STATIC,186,89,113,9
    LTEXT           "Close:",IDC_FOLDER_IN_COMMENT_CLOSE_STATIC,186,126,113,9
    GROUPBOX        "Folding in comment style:",IDC_FOLDER_IN_COMMENT_DESCGROUP_STATIC,175,14,152,156,BS_CENTER
    EDITTEXT        IDC_FOLDER_IN_CODE1_OPEN_EDIT,22,236,131,22,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_FOLDER_IN_CODE1_MIDDLE_EDIT,22,273,131,22,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_FOLDER_IN_CODE1_CLOSE_EDIT,22,311,131,22,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_FOLDER_IN_CODE1_STYLER,22,203,54,13
    LTEXT           "Open:",IDC_FOLDER_IN_CODE1_OPEN_STATIC,23,224,113,9
    LTEXT           "Middle:",IDC_FOLDER_IN_CODE1_MIDDLE_STATIC,23,262,113,9
    LTEXT           "Close:",IDC_FOLDER_IN_CODE1_CLOSE_STATIC,23,299,113,9
    GROUPBOX        "Folding in code 1 style:",IDC_FOLDER_IN_CODE1_DESCGROUP_STATIC,12,186,152,156,BS_CENTER
    EDITTEXT        IDC_FOLDER_IN_CODE2_OPEN_EDIT,187,236,131,22,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_FOLDER_IN_CODE2_MIDDLE_EDIT,187,273,131,22,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_FOLDER_IN_CODE2_CLOSE_EDIT,187,311,131,22,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_FOLDER_IN_CODE2_STYLER,187,202,54,13
    LTEXT           "Open:",IDC_FOLDER_IN_CODE2_OPEN_STATIC,187,224,113,9
    LTEXT           "Middle:",IDC_FOLDER_IN_CODE2_MIDDLE_STATIC,187,261,113,9
    LTEXT           "Close:",IDC_FOLDER_IN_CODE2_CLOSE_STATIC,187,298,113,9
    GROUPBOX        "Folding in code 2 style (separators needed):",IDC_FOLDER_IN_CODE2_DESCGROUP_STATIC,176,186,152,156,BS_CENTER
END

IDD_SYMBOL_STYLE_DLG DIALOGEX 36, 44, 337, 550
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    EDITTEXT        IDC_OPERATOR1_EDIT,15,47,144,29,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_OPERATOR2_EDIT,178,47,144,29,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_OPERATOR_STYLER,14,28,54,13
    GROUPBOX        "Operators style",IDC_OPERATOR_DESCGROUP_STATIC,8,14,319,67,BS_CENTER
    LTEXT           "Operators 1",IDC_OPERATOR1_STATIC,82,36,75,10,0,WS_EX_RIGHT
    LTEXT           "Operators 2 (separators required)",IDC_OPERATOR2_STATIC,194,36,124,10,0,WS_EX_RIGHT
    EDITTEXT        IDC_DELIMITER1_BOUNDARYOPEN_EDIT,15,125,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER1_ESCAPE_EDIT,15,151,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER1_BOUNDARYCLOSE_EDIT,15,175,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER1_STYLER,15,100,54,13
    LTEXT           "Open: ",IDC_DELIMITER1_BOUNDARYOPEN_STATIC,15,115,144,8
    LTEXT           "Escape: ",IDC_DELIMITER1_ESCAPE_STATIC,15,140,144,8
    LTEXT           "Close: ",IDC_DELIMITER1_BOUNDARYCLOSE_STATIC,15,164,144,8
    GROUPBOX        "Delimiter 1 style",IDC_DELIMITER1_DESCGROUP_STATIC,8,89,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER2_BOUNDARYOPEN_EDIT,178,125,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER2_ESCAPE_EDIT,178,151,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER2_BOUNDARYCLOSE_EDIT,178,175,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER2_STYLER,178,100,54,13
    LTEXT           "Open: ",IDC_DELIMITER2_BOUNDARYOPEN_STATIC,178,115,144,8
    LTEXT           "Escape: ",IDC_DELIMITER2_ESCAPE_STATIC,178,140,144,8
    LTEXT           "Close: ",IDC_DELIMITER2_BOUNDARYCLOSE_STATIC,178,164,144,8
    GROUPBOX        "Delimiter 2 style",IDC_DELIMITER2_DESCGROUP_STATIC,172,89,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER3_BOUNDARYOPEN_EDIT,15,241,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER3_ESCAPE_EDIT,15,264,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER3_BOUNDARYCLOSE_EDIT,15,287,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER3_STYLER,15,215,54,13
    LTEXT           "Open: ",IDC_DELIMITER3_BOUNDARYOPEN_STATIC,15,230,144,8
    LTEXT           "Escape: ",IDC_DELIMITER3_ESCAPE_STATIC,15,255,144,8
    LTEXT           "Close: ",IDC_DELIMITER3_BOUNDARYCLOSE_STATIC,15,276,144,8
    GROUPBOX        "Delimiter 3 style",IDC_DELIMITER3_DESCGROUP_STATIC,8,204,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER4_BOUNDARYOPEN_EDIT,178,241,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER4_ESCAPE_EDIT,178,264,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER4_BOUNDARYCLOSE_EDIT,178,287,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER4_STYLER,178,215,54,13
    LTEXT           "Open: ",IDC_DELIMITER4_BOUNDARYOPEN_STATIC,178,232,144,8
    LTEXT           "Escape: ",IDC_DELIMITER4_ESCAPE_STATIC,178,255,144,8
    LTEXT           "Close: ",IDC_DELIMITER4_BOUNDARYCLOSE_STATIC,178,278,144,8
    GROUPBOX        "Delimiter 4 style",IDC_DELIMITER4_DESCGROUP_STATIC,172,204,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER5_BOUNDARYOPEN_EDIT,15,356,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER5_ESCAPE_EDIT,15,381,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER5_BOUNDARYCLOSE_EDIT,15,406,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER5_STYLER,17,331,54,13
    LTEXT           "Open: ",IDC_DELIMITER5_BOUNDARYOPEN_STATIC,15,347,144,8
    LTEXT           "Escape: ",IDC_DELIMITER5_ESCAPE_STATIC,15,372,144,8
    LTEXT           "Close: ",IDC_DELIMITER5_BOUNDARYCLOSE_STATIC,15,397,144,8
    GROUPBOX        "Delimiter 5 style",IDC_DELIMITER5_DESCGROUP_STATIC,8,320,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER6_BOUNDARYOPEN_EDIT,178,356,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER6_ESCAPE_EDIT,178,381,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER6_BOUNDARYCLOSE_EDIT,178,406,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER6_STYLER,178,331,54,13
    LTEXT           "Open: ",IDC_DELIMITER6_BOUNDARYOPEN_STATIC,178,347,144,8
    LTEXT           "Escape: ",IDC_DELIMITER6_ESCAPE_STATIC,178,372,144,8
    LTEXT           "Close: ",IDC_DELIMITER6_BOUNDARYCLOSE_STATIC,178,397,144,8
    GROUPBOX        "Delimiter 6 style",IDC_DELIMITER6_DESCGROUP_STATIC,172,320,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER7_BOUNDARYOPEN_EDIT,12,471,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER7_ESCAPE_EDIT,11,496,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER7_BOUNDARYCLOSE_EDIT,12,521,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER7_STYLER,15,446,54,13
    LTEXT           "Open: ",IDC_DELIMITER7_BOUNDARYOPEN_STATIC,178,460,144,8
    LTEXT           "Escape: ",IDC_DELIMITER7_ESCAPE_STATIC,178,487,144,8
    LTEXT           "Close: ",IDC_DELIMITER7_BOUNDARYCLOSE_STATIC,178,512,144,8
    GROUPBOX        "Delimiter 7 style",IDC_DELIMITER7_DESCGROUP_STATIC,8,435,156,105,BS_RIGHT
    EDITTEXT        IDC_DELIMITER8_BOUNDARYOPEN_EDIT,178,471,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER8_ESCAPE_EDIT,178,496,144,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_DELIMITER8_BOUNDARYCLOSE_EDIT,178,521,144,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_DELIMITER8_STYLER,178,446,54,13
    LTEXT           "Open: ",IDC_DELIMITER8_BOUNDARYOPEN_STATIC,15,460,144,8
    LTEXT           "Escape: ",IDC_DELIMITER8_ESCAPE_STATIC,15,487,144,8
    LTEXT           "Close: ",IDC_DELIMITER8_BOUNDARYCLOSE_STATIC,15,512,144,8
    GROUPBOX        "Delimiter 8 style",IDC_DELIMITER8_DESCGROUP_STATIC,172,435,156,105,BS_RIGHT
END

IDD_KEYWORD_STYLE_DLG DIALOGEX 36, 44, 337, 470
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    EDITTEXT        IDC_KEYWORD1_EDIT,19,46,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "1st group",IDC_KEYWORD1_DESCGROUP_STATIC,9,17,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD1_STYLER,18,29,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD1_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,89,33,68,13
    EDITTEXT        IDC_KEYWORD2_EDIT,181,46,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "2nd group",IDC_KEYWORD2_DESCGROUP_STATIC,171,17,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD2_STYLER,179,28,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD2_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,251,33,68,13
    EDITTEXT        IDC_KEYWORD3_EDIT,20,154,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "3rd group",IDC_KEYWORD3_DESCGROUP_STATIC,10,125,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD3_STYLER,18,136,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD3_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,89,141,68,13
    EDITTEXT        IDC_KEYWORD4_EDIT,181,154,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "4th group",IDC_KEYWORD4_DESCGROUP_STATIC,171,125,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD4_STYLER,179,136,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD4_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,251,141,68,13
    EDITTEXT        IDC_KEYWORD5_EDIT,20,263,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "5th group",IDC_KEYWORD5_DESCGROUP_STATIC,10,234,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD5_STYLER,18,245,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD5_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,89,250,68,13
    EDITTEXT        IDC_KEYWORD6_EDIT,181,263,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "6th group",IDC_KEYWORD6_DESCGROUP_STATIC,171,234,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD6_STYLER,179,245,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD6_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,251,250,68,13
    EDITTEXT        IDC_KEYWORD7_EDIT,20,373,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "7th group",IDC_KEYWORD7_DESCGROUP_STATIC,10,344,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD7_STYLER,18,355,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD7_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,89,359,72,13
    EDITTEXT        IDC_KEYWORD8_EDIT,181,373,138,69,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL
    GROUPBOX        "8th group",IDC_KEYWORD8_DESCGROUP_STATIC,171,344,155,104,BS_CENTER
    PUSHBUTTON      "Styler",IDC_KEYWORD8_STYLER,179,355,53,13
    CONTROL         "Prefix mode",IDC_KEYWORD8_PREFIX_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,251,359,72,13
END

IDD_COMMENT_STYLE_DLG DIALOGEX 36, 44, 337, 472
STYLE DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX        "Line comment position",IDC_COMMENTLINE_POSITION_STATIC,11,18,156,57
    CONTROL         "Allow folding of comments",IDC_FOLDING_OF_COMMENTS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,188,25,131,8
    CONTROL         "Allow anywhere",IDC_ALLOW_ANYWHERE,"Button",BS_AUTORADIOBUTTON | WS_GROUP,33,33,121,8
    CONTROL         "Force at beginning of line",IDC_FORCE_AT_BOL,"Button",BS_AUTORADIOBUTTON,33,45,121,8
    CONTROL         "Allow preceeding whitespace",IDC_ALLOW_WHITESPACE,"Button",BS_AUTORADIOBUTTON,33,57,121,8
    EDITTEXT        IDC_COMMENTLINE_OPEN_EDIT,20,136,138,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_COMMENTLINE_CONTINUE_EDIT,20,164,138,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_COMMENTLINE_CLOSE_EDIT,20,189,138,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_COMMENTLINE_STYLER,22,104,54,13
    LTEXT           "Open",IDC_COMMENTLINE_OPEN_STATIC,20,126,138,9
    LTEXT           "Continue character",IDC_COMMENTLINE_CONTINUE_STATIC,20,152,138,9
    LTEXT           "Close",IDC_COMMENTLINE_CLOSE_STATIC,20,178,138,9
    GROUPBOX        "Comment line style",IDC_COMMENTLINE_DESCGROUP_STATIC,10,90,155,119,BS_CENTER
    EDITTEXT        IDC_COMMENT_OPEN_EDIT,182,149,138,12,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_COMMENT_CLOSE_EDIT,182,177,138,12,ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON      "Styler",IDC_COMMENT_STYLER,184,109,54,13
    LTEXT           "Open",IDC_COMMENT_OPEN_STATIC,182,139,138,9
    LTEXT           "Close",IDC_COMMENT_CLOSE_STATIC,182,168,138,9
    GROUPBOX        "Comment style",IDC_COMMENT_DESCGROUP_STATIC,172,90,155,119,BS_CENTER
    GROUPBOX        "Number style",IDC_NUMBER_DESCGROUP_STATIC,10,222,317,239,BS_CENTER
    PUSHBUTTON      "Styler",IDC_NUMBER_STYLER,24,237,54,13
    RTEXT           "Prefix 1:",IDC_NUMBER_PREFIX1_STATIC,12,264,45,13
    RTEXT           "Prefix 2:",IDC_NUMBER_PREFIX2_STATIC,12,291,45,13
    RTEXT           "Extras 1:",IDC_NUMBER_EXTRAS1_STATIC,12,318,45,13
    RTEXT           "Extras 2:",IDC_NUMBER_EXTRAS2_STATIC,12,345,45,13
    RTEXT           "Suffix 1:",IDC_NUMBER_SUFFIX1_STATIC,12,372,45,13
    RTEXT           "Suffix 2:",IDC_NUMBER_SUFFIX2_STATIC,12,399,45,13
    RTEXT           "Range: ",IDC_NUMBER_RANGE_STATIC,12,426,45,13
    EDITTEXT        IDC_NUMBER_PREFIX1_EDIT,63,264,136,21,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_NUMBER_PREFIX2_EDIT,63,291,136,21,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_NUMBER_EXTRAS1_EDIT,63,318,136,21,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_NUMBER_EXTRAS2_EDIT,63,345,136,21,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_NUMBER_SUFFIX1_EDIT,63,372,136,21,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_NUMBER_SUFFIX2_EDIT,63,399,136,21,ES_MULTILINE | WS_VSCROLL
    EDITTEXT        IDC_NUMBER_RANGE_EDIT,63,426,136,21,ES_MULTILINE | WS_VSCROLL
    GROUPBOX        "Decimal separator",IDC_DECIMAL_SEPARATOR_STATIC,221,259,85,66
    CONTROL         "Dot",IDC_DOT_RADIO,"Button",BS_AUTORADIOBUTTON | WS_GROUP,242,278,59,8
    CONTROL         "Comma",IDC_COMMA_RADIO,"Button",BS_AUTORADIOBUTTON,242,292,59,8
    CONTROL         "Both",IDC_BOTH_RADIO,"Button",BS_AUTORADIOBUTTON,242,306,59,8
END

IDD_GLOBAL_USERDEFINE_DLG DIALOGEX 36, 44, 365, 670
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_VSCROLL | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "User Defined Language v2.0"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "User language : ",IDC_LANGNAME_STATIC,0,3,63,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_LANGNAME_COMBO,64,1,90,58,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Transparency",IDC_UD_TRANSPARENT_CHECK,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,179,3,66,10
    CONTROL         "",IDC_UD_PERCENTAGE_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | NOT WS_VISIBLE | WS_TABSTOP,240,3,53,10
    PUSHBUTTON      "Dock",IDC_DOCK_BUTTON,298,1,50,14,BS_FLAT
    PUSHBUTTON      "Create New...",IDC_ADDNEW_BUTTON,34,20,62,14
    PUSHBUTTON      "Save As...",IDC_SAVEAS_BUTTON,104,20,62,14
    CONTROL         "Ignore case",IDC_LANGNAME_IGNORECASE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,179,24,76,10
    RTEXT           "Ext. :",IDC_EXT_STATIC,259,25,33,8,0,WS_EX_RIGHT
    EDITTEXT        IDC_EXT_EDIT,293,23,33,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Import...",IDC_IMPORT_BUTTON,34,40,62,14
    PUSHBUTTON      "Export...",IDC_EXPORT_BUTTON,104,40,62,14
    PUSHBUTTON      "Rename",IDC_RENAME_BUTTON,179,40,62,14
    PUSHBUTTON      "Remove",IDC_REMOVELANG_BUTTON,248,40,62,14
END

IDD_STRING_DLG DIALOGEX 0, 0, 151, 52
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "STATIC :",IDC_STRING_STATIC,6,4,42,8,0,WS_EX_RIGHT
    EDITTEXT        IDC_STRING_EDIT,49,2,88,14
    PUSHBUTTON      "OK",IDOK,20,26,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,87,26,50,14
END

IDD_STYLER_POPUP_DLG DIALOGEX 100, 50, 324, 305
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
CAPTION "Styler Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,100,280,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,172,280,50,14
    CONTROL         "Bold",IDC_STYLER_CHECK_BOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,201,31,90,13
    CONTROL         "Italic",IDC_STYLER_CHECK_ITALIC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,201,45,90,13
    CONTROL         "Underline",IDC_STYLER_CHECK_UNDERLINE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,201,59,90,13
    COMBOBOX        IDC_STYLER_COMBO_FONT_NAME,65,32,104,80,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_STYLER_COMBO_FONT_SIZE,65,53,104,77,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    RTEXT           "Foreground color:",IDC_STYLER_FG_STATIC,14,85,75,11
    RTEXT           "Background color:",IDC_STYLER_BG_STATIC,153,86,75,11
    CONTROL         "Delimiter 1",IDC_STYLER_CHECK_NESTING_DELIMITER1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,132,76,13
    CONTROL         "Delimiter 2",IDC_STYLER_CHECK_NESTING_DELIMITER2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,149,76,13
    CONTROL         "Delimiter 3",IDC_STYLER_CHECK_NESTING_DELIMITER3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,166,76,13
    CONTROL         "Comment",IDC_STYLER_CHECK_NESTING_COMMENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,209,132,76,13
    CONTROL         "Comment line",IDC_STYLER_CHECK_NESTING_COMMENT_LINE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,209,149,76,13
    CONTROL         "Keyword 1",IDC_STYLER_CHECK_NESTING_KEYWORD1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,132,76,13
    CONTROL         "Keyword 2",IDC_STYLER_CHECK_NESTING_KEYWORD2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,149,76,13
    CONTROL         "Keyword 3",IDC_STYLER_CHECK_NESTING_KEYWORD3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,166,76,13
    CONTROL         "Keyword 4",IDC_STYLER_CHECK_NESTING_KEYWORD4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,183,76,13
    GROUPBOX        "Nesting:",IDC_STYLER_STATIC_NESTING_GROUP,14,116,295,157
    GROUPBOX        "Font options:",IDC_STYLER_STATIC_FONT_OPTIONS,14,15,295,95
    CONTROL         "Delimiter 4",IDC_STYLER_CHECK_NESTING_DELIMITER4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,183,76,13
    CONTROL         "Delimiter 5",IDC_STYLER_CHECK_NESTING_DELIMITER5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,200,76,13
    CONTROL         "Delimiter 6",IDC_STYLER_CHECK_NESTING_DELIMITER6,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,217,76,13
    CONTROL         "Delimiter 7",IDC_STYLER_CHECK_NESTING_DELIMITER7,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,234,76,13
    CONTROL         "Delimiter 8",IDC_STYLER_CHECK_NESTING_DELIMITER8,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,38,251,76,13
    CONTROL         "Keyword 5",IDC_STYLER_CHECK_NESTING_KEYWORD5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,200,76,13
    CONTROL         "Keyword 6",IDC_STYLER_CHECK_NESTING_KEYWORD6,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,217,76,13
    CONTROL         "Keyword 7",IDC_STYLER_CHECK_NESTING_KEYWORD7,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,234,76,13
    CONTROL         "Keyword 8",IDC_STYLER_CHECK_NESTING_KEYWORD8,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,119,251,76,13
    RTEXT           "Name:",IDC_STYLER_NAME_STATIC,23,32,36,12
    RTEXT           "Size:",IDC_STYLER_SIZE_STATIC,22,53,36,12
    CONTROL         "Operators 1",IDC_STYLER_CHECK_NESTING_OPERATORS1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,209,166,76,13
    CONTROL         "Operators 2",IDC_STYLER_CHECK_NESTING_OPERATORS2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,209,183,76,13
    CONTROL         "Numbers",IDC_STYLER_CHECK_NESTING_NUMBERS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,209,200,76,13
END
 
#endif //USERDEFINEDIALOG_RC
