#include "./include/various.h"

#define TEXT(quote)	quote

#include "../src/ScintillaComponent/columnEditor.rc"
#include "../src/ScintillaComponent/FindReplaceDlg.rc"
#include "../src/ScintillaComponent/UserDefineDialog.rc"
#include "../src/MISC/md5/md5Dlgs.rc"
#include "../src/MISC/RegExt/regExtDlg.rc"
#include "../src/WinControls/AnsiCharPanel/ansiCharPanel.rc"
#include "../src/WinControls/ClipboardHistory/clipboardHistoryPanel.rc"
#include "../src/WinControls/ColourPicker/ColourPopup.rc"
#include "../src/WinControls/ColourPicker/WordStyleDlg.rc"
#include "../src/WinControls/DockingWnd/DockingGUIWidget.rc"
#include "../src/WinControls/DocumentMap/documentMap.rc"
#include "../src/WinControls/DocumentMap/documentSnapshot.rc"
#include "../src/WinControls/FileBrowser/fileBrowser.rc"
#include "../src/WinControls/FindCharsInRange/findCharsInRange.rc"
#include "../src/WinControls/FunctionList/functionListPanel.rc"
#include "../src/WinControls/Grid/ShortcutMapper.rc"
#include "../src/WinControls/PluginsAdmin/pluginsAdmin.rc"
#include "../src/WinControls/Preference/preference.rc"
#include "../src/WinControls/ProjectPanel/ProjectPanel.rc"
#include "../src/WinControls/shortcut/RunMacroDlg.rc"
#include "../src/WinControls/shortcut/shortcut.rc"
#include "../src/WinControls/TaskList/TaskListDlg.rc"
#include "../src/WinControls/StaticDialog/RunDlg/RunDlg.rc"
#include "../src/WinControls/VerticalFileSwitcher/VerticalFileSwitcher.rc"
#include "../src/WinControls/WindowsDlg/WindowsDlg.rc"
#include "../src/Notepad_plus.rc"
