// This file is part of Notepad++ project
// Copyright (C)2021 Don HO <don.h@free.fr>

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// at your option any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.


#include <windows.h>
#include "dockingResource.h"

IDD_CONTAINER_DLG DIALOGEX 0, 0, 186, 103
STYLE DS_SETFONT | DS_SETFOREGROUND | WS_MAXIMIZEBOX | WS_POPUP | 
    WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Selected Tab"
FONT 8, TEXT("MS Shell Dlg"), 0, 0, 0x1
BEGIN
    CONTROL         "Caption",IDC_BTN_CAPTION,"Button",BS_OWNERDRAW | NOT 
                    WS_VISIBLE,0,0,186,10
    LTEXT           "",IDC_CLIENT_TAB,16,28,156,50,NOT WS_GROUP
    CONTROL         "Tab1",IDC_TAB_CONT,"SysTabControl32",TCS_BOTTOM | 
                    TCS_OWNERDRAWFIXED | NOT WS_VISIBLE,0,14,185,88
END


IDB_CLOSE_DOWN          BITMAP                  "CloseDown.bmp"
IDB_CLOSE_UP            BITMAP                  "CloseUp.bmp"

