* -text
**.cxx text
**.cpp text
**.c text
**.h text
**.hpp text
**.m text
**.mm text
**.iface text
**.template text
**.mk text
**.py text
**.rc text
**.css text
**.html text
**.bat text
**.bsh text
**.mak text
**.def text
**.manifest text
**.properties text
**.session text
**.styled text
**.folded text
**.adoc text
**.asp text
**.php text
**.vb text
**.cmake text
**.d text
**.erl text
**.gd text
**.iss text
**.jl text
**.json text
**.lua text
**.matlab text
**.ml text
**.nim text
**.octave text
**.pl text
**.p6 text
**.rb text
**.rs text
**.tcl text
**.err text
**.mms text
**.tex text
**.fs text
**.vhd text
**.x12 text
**.yaml text
**.md text
**.txt text
**.pch text
**.hg* text
**.dsp text
**.pbxproj text
**.plist text
**.xcworkspacedata text
**.pro text
**.gen text
**makefile text
**.bmp binary
**.cur binary
**.ico binary
**.jpg binary
**.png binary
**.sh text eol=lf
tgzsrc text eol=lf
