// This file is part of Notepad++ project
// Copyright (C)2021 Don HO <don.h@free.fr>

// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// at your option any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.


#include "windows.h"
#include "WordStyleDlgRes.h"

#ifndef IDC_STATIC 
#define IDC_STATIC -1
#endif

IDD_STYLER_DLG DIALOGEX 36, 44, 500, 246
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "Style Configurator"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	LTEXT           "Select theme : ",IDC_SWITCH2THEME_STATIC,6,9,83,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_SWITCH2THEME_COMBO,95,7,104,78,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Foreground colour",IDC_FG_STATIC,203,72,59,8,0,WS_EX_RIGHT
    LTEXT           "Background colour",IDC_BG_STATIC,203,99,59,8,0,WS_EX_RIGHT
    COMBOBOX        IDC_FONT_COMBO,371,68,104,78,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_FONTSIZE_COMBO,442,95,33,82,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Bold",IDC_BOLD_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,88,63,10
    CONTROL         "Italic",IDC_ITALIC_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,100,62,10
    GROUPBOX        "Font Style",IDC_FONTGROUP_STATIC,311,52,169,77,BS_CENTER
    GROUPBOX        "Colour Style",IDC_COLOURGROUP_STATIC,191,52,111,77,BS_CENTER
    LTEXT           "Font name :",IDC_FONTNAME_STATIC,315,71,52,8,0,WS_EX_RIGHT
    LTEXT           "Font size :",IDC_FONTSIZE_STATIC,388,97,51,8,0,WS_EX_RIGHT
    LTEXT           "Style :",IDC_STYLEDESC_STATIC,87,34,68,8
    LTEXT           "                                                                                                                      ",IDC_STYLEDESCRIPTION_STATIC,190,30,295,22
    EDITTEXT        IDC_DEF_EXT_EDIT,17,215,61,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Default ext. : ",IDC_DEF_EXT_STATIC,20,203,61,8
    EDITTEXT        IDC_USER_EXT_EDIT,93,215,71,14,ES_AUTOHSCROLL
    LTEXT           "User ext. :",IDC_USER_EXT_STATIC,95,204,71,8
    CONTROL         "Underline",IDC_UNDERLINE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,112,80,10
    EDITTEXT        IDC_DEF_KEYWORDS_EDIT,191,151,136,43,ES_MULTILINE | ES_READONLY | WS_VSCROLL
    EDITTEXT        IDC_USER_KEYWORDS_EDIT,347,150,134,43,ES_MULTILINE | WS_VSCROLL
    LTEXT           "Default keywords",IDC_DEF_KEYWORDS_STATIC,193,141,122,8
    LTEXT           "User-defined keywords",IDC_USER_KEYWORDS_STATIC,349,140,126,8
    LTEXT           "+",IDC_PLUSSYMBOL_STATIC,335,166,8,8
    PUSHBUTTON      "Cancel",IDCANCEL,332,222,57,14
    PUSHBUTTON      "Save && Close",IDC_SAVECLOSE_BUTTON,255,222,69,14
    CONTROL         "",IDC_SC_PERCENTAGE_SLIDER,"msctls_trackbar32",TBS_BOTH | TBS_NOTICKS | TBS_TRANSPARENTBKGND | NOT WS_VISIBLE | WS_TABSTOP,441,235,53,10
    CONTROL         "Transparency",IDC_SC_TRANSPARENT_CHECK,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,431,221,63,10
    LISTBOX         IDC_LANGUAGES_LIST,17,46,59,146,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LISTBOX         IDC_STYLES_LIST,87,46,76,146,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    GROUPBOX        "",IDC_STATIC,7,24,166,212
    LTEXT           "Language :",IDC_LANGDESC_STATIC,19,34,61,8
    GROUPBOX        "",IDC_STATIC,181,24,310,184
    LTEXT           "+",IDC_PLUSSYMBOL2_STATIC,83,217,8,8
    CONTROL         "Enable global foreground colour",IDC_GLOBAL_FG_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,138,132,10
    CONTROL         "Enable global background colour",IDC_GLOBAL_BG_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,191,153,131,10
    CONTROL         "Enable global font",IDC_GLOBAL_FONT_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,134,153,10
    CONTROL         "Enable global font size",IDC_GLOBAL_FONTSIZE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,327,149,135,10
    CONTROL         "Enable global bold font style",IDC_GLOBAL_BOLD_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,164,135,10
    CONTROL         "Enable global italic font style",IDC_GLOBAL_ITALIC_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,179,135,10
    CONTROL         "Enable global underline font style",IDC_GLOBAL_UNDERLINE_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,328,194,135,10
	
    LTEXT           "Go to settings",IDC_GLOBAL_GOTOSETTINGS_LINK,210,153,131,10,WS_TABSTOP
END
